@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

@import 'media.scss';

$link-hover-color: #3b5998;
$s-mt: 50px; // Section margin top
$s-mb: 50px; // Section margin bottom

* {
    @include media((
        '425': (
            font-size: 16px
        )
    ));
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 18px;
    color: #333;

    // @media(max-width: 425px) {
    //     font-size: 16px;
    // }
}

h2.title {
    font-size: 36px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 40px;

    span {
        font-size: 36px;
        font-weight: 700;
        background: linear-gradient(90deg, rgba(136,137,143,1) 0%, rgba(95,94,100,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

h3 {
    font-size: 24px;
}

.btn-grey {
    font-family: 'Exo 2', sans-serif;
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    border-radius: 0;
    background: linear-gradient(50deg, rgba(133,135,141,1) 0%, rgba(150,151,152,1) 50%, rgba(95,94,100,1) 100%);
    text-shadow: 2px 2px 2px #5b5b5b;

    &.animate {
        position: relative;
        overflow: hidden;
        -webkit-transition: ease 0.3s;
        transition: ease 0.3s;
    }

    &:hover {
        color: #fff;
    }

    &:hover:after {
        color: #fff;
    }
}

.btn-grey:hover:after {
    content: "";
    display: block;
    width: 30px;
    height: 300px;
    margin-left: 60px;
    background: #fff;
    background: -moz-linear-gradient(top, rgba(255,255,255,0.17) 0%, rgba(255,255,255,.5) 50%, rgba(255,255,255,0.17) 100%);
    background: -webkit-linear-gradient(top, rgba(255,255,255,0.17) 0%,rgba(255,255,255,.5) 50%,rgba(255,255,255,0.17) 100%);
    background: linear-gradient(to bottom, rgba(255,255,255,0.17) 0%,rgba(255,255,255,.5) 50%,rgba(255,255,255,0.17) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 );
    position: absolute;
    left: -40px;
    top: -150px;
    z-index: 1;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    -webkit-transition: all 0.1s;
    transition: all 0.1s;
    -webkit-animation-name: slideme;
    animation-name: slideme;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    // -webkit-animation-delay: 0.05s;
    // animation-delay: 0.05s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

@-webkit-keyframes slideme {
    0% { left: -30px; margin-left: 0px; }
    30% { left: 110%; margin-left: 80px; }
    100% { left: 110%; margin-left: 80px; }
}

.container {
    max-width: 1200px;
}

.container-fluid {
    @include media((
        '1440': (
            padding-left: 5%,
            padding-right: 5%,
        )
    ));
    padding-left: 10%;
    padding-right: 10%;

    // @media(max-width: 1440px) {
    //     padding-left: 5%;
    //     padding-right: 5%;
    // }
}

%section-margin {
    margin-top: $s-mt;
    margin-bottom: $s-mb;
}

header {
    .container {
        @include media((
            '600': (
                box-shadow: 0 5px 20px #7d7d7d,
            )
        ));
        // @media(max-width: 600px) {
        //     // position: fixed;
        //     // top: 0;
        //     box-shadow: 0 5px 20px #7d7d7d;
        //     // z-index: 9999;
        // }
        nav.navbar {
            @include media((
                '600': (
                    padding-left: 20px,
                    padding-right: 20px,
                )
            ));

            padding: .5rem 0 1.5rem;

            & i.fas {
                @include media((
                    '600': (
                        font-size: 600px,
                    ),
                    '375': (
                        font-size: 30px,
                    )
                ));
            }

            .navbar-brand {
                @include media((
                    '800': (
                        padding-left: 0,
                        padding-right: 0,
                    )
                ));
                padding-left: 50px;

                // @media(max-width: 800px) {
                //     padding-left: 0;
                //     margin-right: 0;
                // }

                img {
                    @include media((
                        '800': (
                            width: 115px,
                        )
                    ))
                    // @media(max-width: 800px) {
                    //     width: 115px;
                    // }
                }
            }

            .navbar-toggler.mobile {
                @include media((
                    '600': (
                        display: block,
                        border: none,
                    )
                ));

                display: none;

                // @media(max-width: 600px) {
                //     display: block;
                //     border: none;
                // }
            }

            & > div {
                @include media((
                    '800': (
                        width: 85%,
                    )
                ));
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-end;

                // @media(max-width: 800px) {
                //     width: 85%;
                // }
            }

            .top-line {
                @include media((
                    '800': (
                        border-bottom: 0,
                    ),
                    '600': (
                        display: none,
                    ),
                ));
                display: flex;
                width: 95%;
                justify-content: flex-end;
                align-items: center;
                border-bottom: solid 5px #C4C4C4;

                // @media(max-width: 800px) {
                //     border-bottom: 0;
                // }
                //
                // @media(max-width: 600px) {
                //     display: none;
                // }

                p {
                    @include media((
                        '800': (
                            text-align: left,
                            padding: 0 5px,
                        )
                    ));
                    font-family: 'Exo 2', sans-serif;
                    font-size: 20px;
                    font-weight: 600;
                    color: #000;
                    text-align: center;
                    text-transform: uppercase;
                    padding: 0 20px;
                    margin-bottom: 0;
                    flex-grow: 1;

                    // @media(max-width: 800px) {
                    //     text-align: left;
                    //     padding: 0 5px;
                    // }
                }

                div.phone {
                    @include media((
                        '1366': (
                            width: 210px,
                        ),
                        '800': (
                            width: 305px,
                        )
                    ));

                    width: 205px;

                    & > a {
                        @include media((
                            '1366': (
                                font-size: 22px,
                            )
                        ));
                        font-family: 'Exo 2', sans-serif;
                        font-size: 22px;
                        font-weight: 800;
                    }

                    & > a:link,
                    & > a:visited {
                        color: #333;
                    }

                    & > a:active,
                    & > a:hover {
                        text-decoration: none;
                        color: $link-hover-color;
                    }

                    // @media(max-width: 1366px) {
                    //     & {
                    //         width: 210px;
                    //     }
                    //
                    //     & > a {
                    //         font-size: 22px;
                    //     }
                    // }
                    //
                    // @media(max-width: 800px) {
                    //     width: 305px;
                    // }
                }
            }

            .bottom-line {
                @include media((
                    '800': (
                        background: linear-gradient(90deg, #88898f 0%, #5f5e64 100%),
                        justify-content: space-between,
                        align-items: center,
                        flex-wrap: wrap,
                    ),
                    '600': (
                        display: none,
                    )
                ));
                width: 95%;
                display: flex;
                // padding: 0 50px;

                // @media(max-width: 800px) {
                //     background: linear-gradient(90deg, #88898f 0%, #5f5e64 100%);
                //     justify-content: space-between;
                //     align-items: center;
                //     flex-wrap: wrap;
                // }
                //
                // @media(max-width: 600px) {
                //     display: none;
                // }

                div.links {
                    @include media((
                        '800': (
                            display: block,
                            padding: 0 15px,
                        )
                    ));

                    display: none;

                    & > a {
                        @include media((
                            '800': (
                                color: #fff,
                                margin-right: 20px,
                            )
                        ));
                    }

                    & > i {
                        @include media((
                            '800': (
                                color: #fff,
                                margin-right: 8px,
                                font-size: 18px,
                            )
                        ));
                    }

                    // @media(max-width: 800px) {
                    //     display: block;
                    //     padding: 0 15px;
                    //
                    //     & > a {
                    //         color: #fff;
                    //         margin-right: 20px;
                    //     }
                    //
                    //     & > i {
                    //         color: #fff;
                    //         margin-right: 8px;
                    //         font-size: 18px;
                    //     }
                    // }
                }

                button.navbar-toggler {
                    border: none;

                    i {
                        font-size: 26px;
                        color: #fff;
                    }
                }

                ul.navbar-nav {
                    width: 100%;
                    margin-left: auto;
                    padding-right: 10px;

                    li.nav-item {
                        a.nav-link {
                            font-family: "Exo 2", sans-serif;
                            font-weight: 500;
                            font-size: 16px;
                            text-transform: uppercase;

                            @media(max-width: 800px) {
                                color: #fff;
                            }
                        }
                    }
                }

                .callback {
                    @include media((
                        '800': (
                            display: none,
                        )
                    ));
                    width: 205px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 3px 0 5px;
                    background: #858585;
                    text-align: center;
                    border-radius: 50% 50% 0 0 / 100% 100% 0 0;

                    a {
                        font-family: "Exo 2", sans-serif;
                        font-size: 16px;
                        color: #fff;
                        text-decoration: underline;
                    }

                    // @media(max-width: 800px) {
                    //     display: none;
                    // }
                }
            }

            .mobile-menu {
                @include media((
                    '600': (
                        display: block,
                    )
                ));
                display: none;
            }

            // @media(max-width: 600px) {
            //     padding-left: 20px;
            //     padding-right: 20px;
            //     i.fas {
            //         font-size: 40px;
            //     }
            // }
            //
            // @media(max-width: 375px) {
            //     i.fas {
            //         font-size: 30px;
            //     }
            // }
        }

        #headerCarousel {
            position: relative;
            height: 450px;
            overflow: hidden;

            .carousel-inner {
                height: 100%;

                .carousel-item {
                    height: 100%;

                    div.image {
                        display: block;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                    }

                    .slide-text {
                        width: 50%;
                        height: 100%;
                        position: absolute;
                        padding: 40px 25px 0 50px;
                        top: 0;
                        background-color: rgba(0, 0, 0, .5);
                        z-index: 25;

                        p.title {
                            @include media((
                                '1440': (
                                    font-size: 35px,
                                )
                            ));
                            font-family: 'Exo 2', sans-serif;
                            font-size: 38px;
                            font-weight: 700;
                            color: #fff;
                            line-height: 120%;
                            margin-bottom: 20px;

                            // @media(max-width: 1440px) {
                            //     & {
                            //         font-size: 35px;
                            //     }
                            // }
                        }

                        p.subtitle {
                            @include media((
                                '1440': (
                                    width: 95%,
                                    font-size: 25px,
                                )
                            ));

                            width: 90%;
                            font-family: 'Exo 2', sans-serif;
                            font-size: 25px;
                            font-weight: 400;
                            color: #fff;
                            line-height: 110%;
                            margin-bottom: 30px;

                            // @media(max-width: 1440px) {
                            //     & {
                            //         width: 95%;
                            //         font-size: 25px;
                            //     }
                            // }
                        }

                        button {
                            @include media((
                                '1440': (
                                    height: 65px,
                                    font-size: 22px,
                                    padding-left: 30px,
                                    padding-right: 30px,
                                )
                            ));

                            height: 55px;
                            line-height: 100%;
                            padding: 0 30px 8px 30px;

                            // @media(max-width: 1440px) {
                            //     & {
                            //         height: 65px;
                            //         font-size: 22px;
                            //         padding-left: 30px;
                            //         padding-right: 30px;
                            //     }
                            // }
                        }
                    }
                }
            }

            .carousel-banners {
                display: grid;
                grid-template-columns: repeat(4, 1fr);
                position: absolute;
                height: 100px;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 50;

                div.banner {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    background: linear-gradient(135deg, rgba(255, 255, 255, 0.65) 0%, rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0.5) 100%);

                    p {
                        font-size: 14px;
                        color: #fff;
                        margin: 10px 0 0;
                    }
                }
            }
        }
    }
}

#s01 {
    @extend %section-margin;

    div.categories {
        @include media((
            '800': (
                grid-template-columns: 1fr,
            )
        ));

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2px;

        // @media(max-width: 800px) {
        //     grid-template-columns: 1fr;
        // }

        div.block {
            div.block-title {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 10px 0;
                background: linear-gradient(90deg, rgba(136,137,143,1) 0%, rgba(95,94,100,1) 100%);

                h3 {
                    @include media((
                        '1440': (
                            font-size: 20px,
                        )
                    ));

                    font-size: 20px;
                    color: #fff;
                    text-align: center;
                    margin-bottom: 0;

                    // @media(max-width: 1440px) {
                    //     & {
                    //         font-size: 20px;
                    //     }
                    // }
                }

                &:before {
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2px;
                    background: #fff;
                }

                &:after {
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2px;
                    background: #fff;
                }
            }

            div.block-content {
                @include media((
                    '800': (
                        flex-direction: row,
                        justify-content: space-around,
                    ),
                    '320': (
                        flex-direction: column,
                    )
                ));

                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0 0 25px;
                height: 100%;

                // @media(max-width: 800px) {
                //     flex-direction: row;
                //     justify-content: space-around;
                // }
                //
                // @media(max-width: 320px) {
                //     flex-direction: column;
                // }

                div {
                    margin: 25px 0;

                    &:nth-of-type(2n) {
                        @include media((
                            '320': (
                                margin: 0,
                            )
                        ));
                    }
                    // @media (max-width: 320px) {
                    //     &:nth-of-type(2n) {
                    //         margin: 0;
                    //     }
                    // }

                    img {
                        display: block;
                        margin: auto;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}

#s02 {
    @extend %section-margin;

    .cars {
        @include media((
            '800': (
                grid-template-columns: repeat(2, 1fr),
            ),
            '600': (
                grid-template-columns: 1fr,
                width: 65%,
                margin: auto,
            ),
            '425': (
                width: 100%,
            )
        ));

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;

        & > .car-card:nth-of-type(n+4) {
            @include media((
                '600': (
                    display: none,
                )
            ));
        }

        // @media(max-width: 800px) {
        //     grid-template-columns: repeat(2, 1fr);
        // }
        //
        // @media(max-width: 600px) {
        //     grid-template-columns: 1fr;
        //     width: 65%;
        //     margin: auto;
        //
        //     & > .car-card:nth-of-type(n+4) {
        //         display: none;
        //     }
        // }
        //
        // @media(max-width: 425px) {
        //     width: 100%;
        // }

        .car-card {
            padding: 30px 15px 50px;
            box-shadow: 0px 5px 15px rgba(215, 215, 215, 0.35);

            h3 {
                text-align: center;
            }

            .content {
                padding: 0 25px;

                & > img {
                    display: block;
                    margin: 15px auto;
                }

                .params > div {
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    padding: 10px 0;

                    img {
                        margin-right: 15px;
                    }

                    p {
                        margin-bottom: 0;
                    }
                }
            }

            .footer {

                padding-top: 25px;

                .border-wrap {
                    position: relative;
                    max-width: 50%;
                    background: linear-gradient(90deg, rgba(136,137,143,1) 0%, rgba(95,94,100,1) 100%);
                    padding: 3px;
                    margin: auto;
                }

                .link {
                    background: #fff;
                    color: white;

                    a.btn {
                        @include media((
                            '1440': (
                                font-size: 20px
                            )
                        ));

                        position: relative;
                        font-family: 'Exo 2', sans-serif;
                        font-size: 20px;
                        font-weight: 600;
                        display: block;
                        margin: auto;
                        background: linear-gradient(90deg, rgba(136,137,143,1) 0%, rgba(95,94,100,1) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        &:hover:after {
                            content: "";
                            display: block;
                            width: 30px;
                            height: 60px;
                            margin-left: 60px;
                            background: #fff;
                            background: -moz-linear-gradient(top, rgba(255,255,255,0.17) 0%, rgba(255,255,255,.5) 50%, rgba(255,255,255,0.17) 100%);
                            background: -webkit-linear-gradient(top, rgba(255,255,255,0.17) 0%,rgba(255,255,255,.5) 50%,rgba(255,255,255,0.17) 100%);
                            background: linear-gradient(to bottom, rgba(255,255,255,0.17) 0%,rgba(255,255,255,.5) 50%,rgba(255,255,255,0.17) 100%);
                            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b3ffffff', endColorstr='#b3ffffff',GradientType=0 );
                            position: absolute;
                            left: -40px;
                            top: 0;
                            z-index: 1;
                            -webkit-transform: rotate(45deg);
                            transform: rotate(45deg);
                            -webkit-transition: all 0.1s;
                            transition: all 0.1s;
                            -webkit-animation-name: slideme;
                            animation-name: slideme;
                            -webkit-animation-duration: 3s;
                            animation-duration: 3s;
                            // -webkit-animation-delay: 0.05s;
                            // animation-delay: 0.05s;
                            -webkit-animation-timing-function: ease-in-out;
                            animation-timing-function: ease-in-out;
                            -webkit-animation-iteration-count: infinite;
                            animation-iteration-count: infinite;
                        }

                        // @media(max-width: 1440px) {
                        //     font-size: 20px;
                        // }
                    }
                }
            }
        }
    }

    .btn-catalog {
        @include media((
            '1440': (
                margin-bottom: 100px,
            )
        ));

        margin-top: 50px;

        // @media(max-width: 1440px) {
        //     margin-bottom: 100px;
        // }

        a.btn-go-catalog.btn-grey {
            @include media((
                '800': (
                    width: 40%,
                ),
                '600': (
                    width: 65%,
                ),
                '425': (
                    width: 100%,
                ),
                '375': (
                    width: 100%,
                )
            ));

            width: 25%;
            padding: 12px 15px;
            display: block;
            margin: auto;

            // @media(max-width: 800px) {
            //     width: 40%;
            // }
            //
            // @media(max-width: 600px) {
            //     width: 65%;
            // }
            //
            // @media(max-width: 425px) {
            //     width: 100%;
            // }
            //
            // @media(max-width: 375px) {
            //     width: 100%;
            // }
        }
    }
}

#s03 {
    @extend %section-margin;

    .last-news {
        @include media((
            '800': (
                grid-template-columns: 1fr,
                grid-gap: 0,
                width: 75%,
                margin: auto,
            ),
            '600': (
                width: 90%,
            )
        ));
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;

        // @media(max-width: 800px) {
        //     grid-template-columns: 1fr;
        //     grid-gap: 0;
        //     width: 75%;
        //     margin: auto;
        // }
        //
        // @media(max-width: 600px) {
        //     width: 90%;
        // }

        .news-card {
            position: relative;

            p.published {
                @include media((
                    '800': (
                        font-size: 16px,
                    )
                ));

                font-family: 'Exo 2', sans-serif;
                font-size: 14px;
                color: #808080;
                margin-bottom: 7px;

                // @media(max-width: 800px) {
                //     font-size: 16px;
                // }
            }

            & > div {
                display: flex;

                img {
                    min-width: 100px;
                    min-height: 100px;
                    width: 100px;
                    height: 100px;
                    margin-right: 15px;
                }

                & > div {
                    p {
                        @include media((
                            '800': (
                                font-size: 18px,
                            ),
                            '425': (
                                font-size: 15px,
                            )
                        ));

                        font-family: 'Exo 2', sans-serif;
                        font-size: 16px;
                        line-height: 110%;
                        margin-bottom: 10px;

                        // @media(max-width: 800px) {
                        //     font-size: 18px;
                        // }
                        //
                        // @media(max-width: 425px) {
                        //     font-size: 15px;
                        // }

                    }

                    a {
                        @include media((
                            '800': (
                                font-size: 18px,
                            ),
                            '375': (
                                fotn-size: 15px,
                            )
                        ));

                        font-family: 'Exo 2', sans-serif;
                        font-size: 16px;
                        background: linear-gradient(90deg, rgba(136,137,143,1) 0%, rgba(95,94,100,1) 100%);
                        -webkit-background-clip: text;
                        -webkit-text-fill-color: transparent;

                        &:after {
                            font-family: 'Font Awesome 5 Free';
                            font-size: 16px;
                            font-weight: 700;
                            content: '\f30b';
                            margin-left: 10px;
                            background: orange;
                            -webkit-background-clip: text;
                            -webkit-text-fill-color: transparent;
                        }

                        &:hover {
                            text-decoration: none;
                        }

                        // @media(max-width: 800px) {
                        //     font-size: 18px;
                        // }
                        //
                        //
                        // @media(max-width: 375px) {
                        //     font-size: 15px;
                        // }
                    }
                }
            }

            @media(max-width: 800px) {
                padding: 20px 0;

                &:nth-of-type(2n) {
                    p.published {
                        font-size: 16px;
                        text-align: right;
                    }

                    img {
                        order: 2;
                        margin-left: 15px;
                        margin-right: 0;
                    }

                    div {
                        order: 1;

                        p {
                            font-size: 18px;
                        }

                        a {
                            font-size: 18px;
                            display: block;
                            text-align: right;
                            margin-right: 30px;
                        }
                    }
                }

                &:not(:last-child):after {
                    content: '';
                    position: absolute;
                    display: block;
                    width: 50%;
                    height: 2px;
                    // background: linear-gradient(90deg, #e0e5ff 0%, #afacbd 50%, #e0e5ff 100%);
                    background: linear-gradient(90deg, #e0e5ff 0%, #afacbd 100%);
                    bottom: 0;
                    left: 25%;

                    @media (max-width: 425px) {
                        width: 75%;
                    }
                }
            }

            @media(max-width: 425px) {
                &:nth-of-type(2n) {
                    div {
                        p {
                            font-size: 15px;
                        }
                    }
                }
            }
        }
    }
}

#s04 {
    @extend %section-margin;

    .owl-item {
        img {
            max-width: 100%;
            width: auto;
        }
    }
}

#s05 {
    @extend %section-margin;
    padding: 75px 0;
    background-color: #f5f5f5;

        @media(max-width: 425px) {
            padding: 40px 0;
        }

    h2.title {
        text-align: left;
        margin-bottom: 25px;

        @media(max-width: 800px) {
            font-size: 28px;
            text-align: center;
        }

        @media(max-width: 425px) {
            font-size: 24px;
        }

        @media(max-width: 425px) {
            font-size: 22px;
        }

    }

    p {
        font-family: 'Exo 2', sans-serif;
        font-size: 26px;
        font-weight: 400;

        &:first-child {
            margin-bottom: 20px;
        }

        @media(max-width: 800px) {
            font-size: 24px;
            text-align: center;
        }

        @media(max-width: 425px) {
            font-size: 20px;
        }

        @media(max-width: 375px) {
            font-size: 18px;
        }
    }

    form {
        @media(max-width: 800px) {
            width: 75%;
            margin: auto;
            text-align: center;
        }

        @media(max-width: 425px) {
            width: 100%;
        }

        div.d-flex {
            input {
                font-size: 18px;
                height: 55px;
                width: 315px;
                margin-right: 30px;
                border: none;
                border-radius: 0px;
                box-shadow: 0px 5px 15px rgba(215, 215, 215, 0.35);

                &::placeholder {
                    font-size: 18px;
                }
            }

            @media(max-width: 800px) {
                flex-direction: column;

                input {
                    width: 100%;
                    margin-right: 0;
                    margin-bottom: 20px;
                }
            }
        }

        button {
            width: 315px;
            height: 55px;
            font-size: 24px;
            margin-top: 20px;
            margin-bottom: 20px;

            @media(max-width: 425px ) {
                width: 300px;
                height: 50px;
                font-size: 18px;
                margin-top: 10px;
                margin-bottom: 10px;
            }
        }
    }

    img {
        width: 100%;
        margin-left: auto;
    }
}

#s06 {
    @extend %section-margin;

    .about-us {
        &:before {
            content: '';
            display: block;
            width: 210px;
            height: 1px;
            margin-bottom: 30px;
            background-color: #6d6d72;
        }

        &:after {
            content: '';
            display: block;
            width: 210px;
            height: 1px;
            margin-top: 30px;
            margin-left: auto;
            background-color: #6d6d72;
        }

        p {
            line-height: 150%;
        }
    }
}

#s07 {
    @extend %section-margin;
    padding: 75px 0;
    background-color: #282828;

    div:first-child {
        h2 {
            color: #fff;
        }

        & > img {
            display: block;
            margin: auto;
        }

        & > p.subtitle {
            padding-top: 10px;
            font-family: 'Exo 2', sans-serif;
            font-size: 24px;
            font-weight: 600;
            color: #fff;
            text-align: center;
        }

        & > a {
            margin: 40px auto;
            display: block;
            width: 365px;

            @media(max-width: 375px) {
                width: 100%;
            }
        }
    }

    div.trio {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 25px;

        @media(max-width: 600px) {
            grid-template-columns: 1fr;
        }

        a {
            position: relative;
            padding: 25px 25px 20px;
            text-align: left;
            background: linear-gradient(50deg, rgba(87,88,91,1) 0%, rgba(95,96,96,1) 50%, rgba(67,67,70,1) 100%);

            img {
                display: block;
                width: 52px;
                height: 52px;
                margin-right: auto;
                margin-bottom: 30px;

                @media(max-width: 800px) {
                    width: 40px;
                    height: 40px;
                }

                @media(max-width: 600px) {
                    margin-bottom: 15px;
                }
            }

            span {
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-family: 'Exo 2', sans-serif;
                font-size: 32px;
                color: #fff;
                text-transform: uppercase;

                @media(max-width: 800px) {
                    font-size: 20px;
                }

                &:after {
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 700;
                    font-size: 25px;
                    content: '\f054';

                    @media(max-width: 800px) {
                        font-size: 18px;
                    }

                    @media(max-width: 800px) {
                        display: none;
                    }
                }
            }

            @media(max-width: 600px) {
                &:before {
                    font-family: 'Font Awesome 5 Free';
                    font-weight: 700;
                    font-size: 60px;
                    content: '\f054';
                    position: absolute;
                    top: 14%;
                    right: 5%;

                    @media(max-width: 375px) {
                        font-size: 40px;
                        top: 28%;
                    }
                }
            }
        }
    }
}

#page {
    padding: 20px 0;

    p.categoryTitle {
        font-size: 30px;
        text-transform: uppercase;
        margin-bottom: 6px;
    }

    h1 {
        font-size: 24px;
    }

    p.published {
        font-size: 14px;
        margin-bottom: 0;
    }

    div.gallery {
        display: flex;
        flex-wrap: wrap;

        figure {
            margin-right: 15px;
        }
    }
}

footer {
    border-top: solid 2px #fff;
    background: linear-gradient(50deg, rgba(133,135,141,1) 0%, rgba(150,151,152,1) 50%, rgba(94,93,99,1) 100%);

    .ss {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        padding-top: 30px;

        @media(max-width: 600px) {
            flex-direction: column;
            align-items: center;

        }

        .subscribe {
            @media(max-width: 425px) {
                width: 100%;
            }

            p {
                font-family: 'Exo 2', sans-serif;
                font-size: 20px;
                color: #fff;

                @media(max-width: 425px) {
                    text-align: center;
                }

                @media(max-width: 320px) {
                    font-size: 18px;
                }
            }

            form {
                .row {
                    flex-direction: column;
                }

                input {
                    width: 550px;
                    height: 60px;
                    font-size: 20px;
                    color: #000;

                    &::placeholder {
                        font-size: 20px;
                        color: #000;
                        text-shadow: 2px 3px 15px #000;
                    }

                    @media (max-width: 800px) {
                        width: 320px;
                        height: 50px;

                        &::placeholder {
                            text-shadow: none;
                            color: #333;
                        }
                    }

                    @media(max-width: 425px) {
                        width: 100%;
                        margin-bottom: 15px;
                    }
                }

                button {
                    width: 210px;
                    height: 60px;
                    font-size: 20px;
                    background: linear-gradient(50deg, rgba(106,108,113,1) 0%, rgba(119,120,121,1) 50%, rgba(76,76,78,1) 100%);

                    @media (max-width: 800px) {
                        width: 165px;
                        height: 50px;
                    }

                    @media(max-width: 425px) {
                        width: 100%;
                        box-shadow: 0px 1px 10px aliceblue;
                    }
                }
            }
        }

        .soc-icons {
            display: flex;
            justify-content: space-between;
            padding-bottom: 2.5px;

            @media(max-width: 600px) {
                margin-top: 40px;
            }

            a {
                margin-left: 50px;

                @media(max-width: 800px) {
                    margin-left: 20px;
                }

                @media(max-width: 600px) {
                    &:not(:first-child) {
                        margin-left: 100px;
                    }
                }

                @media(max-width: 600px) {
                    &:not(:first-child) {
                        margin-left: 70px;
                    }
                }

                img {
                    width: 55px;
                    height: 55px;

                    @media (max-width: 800px) {
                        width: 45px;
                        height: 45px;
                    }
                }
            }
        }
    }

    .navigation {
        display: flex;
        margin-top: 40px;
        padding: 30px;
        border-top: solid 2px #fff;

        @media(max-width: 600px) {
            flex-direction: column;
        }

        @media(max-width: 320px) {
            padding: 20px 0;
        }

        .menu {
            padding-right: 150px;

            @media (max-width: 800px) {
                padding-right: 85px;
            }

            @media (max-width: 600px) {
                padding-right: 0px;
            }

            ul {
                width: 150px;
                list-style: none;
                padding: 0;

                @media (max-width: 600px) {
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                }

                @media (max-width: 425px) {
                    width: 100%;
                    text-align: center;
                }

                li {
                    text-transform: uppercase;
                    padding: 5px 0;

                    @media (max-width: 600px) {
                        width: 33%;
                        padding: 0 0 15px 0;
                    }

                    @media (max-width: 425px) {
                        width: 100%;
                    }

                    &:first-child {
                        padding-top: 0;
                    }

                    a {
                        &:link, &:visited {
                            font-size: 20px;
                            font-weight: bold;
                            color: #fff;
                        }
                    }
                }
            }
        }

        .services {
            h3 {
                font-size: 20px;
                font-weight: bold;
                color: #fff;
                padding: 0;
                margin: 0 0 20px 0;
                text-transform: uppercase;
            }

            div {
                display: flex;

                ul {
                    list-style: none;

                    &:first-child {
                        padding: 0 20px 0 0;
                    }

                    li {
                        text-transform: uppercase;

                        @media(max-width: 320px) {
                            padding-bottom: 10px;
                        }

                        a {
                            font-size: 20px;
                            font-weight: normal;
                            color: #fff;

                            @media(max-width: 375px) {
                                font-size: 16px;
                            }
                        }
                    }

                    @media(max-width: 800px) {
                        &:first-child {
                            width: 60%;
                        }

                        &:last-child {
                            width: 40%;
                            padding-left: 0;
                        }
                    }
                }
            }
        }
    }

    .copyright {
        border-top: solid 2px #fff;
        padding-left: 20px;
        padding-right: 20px;

        p {
            font-family: 'Exo 2', sans-serif;
            font-size: 18px;
            color: #fff;
            text-align: center;
            margin-bottom: 0;
            padding: 25px 0;

            @media (max-width: 600px) {
                font-size: 16px;
            }

            @media (max-width: 375px) {
                font-size: 11px;
            }
        }
    }

}
