.owl-nav {
    position: absolute;
    justify-content: space-between;
    width: 100%;
    top: calc(50% - 50px);
}

.owl-nav button {
    position: absolute;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-nav button i {
    color: #FFBD15;
    text-shadow: 2px 2px 5px #8c8c8c;
    font-size: 100px;
}

.owl-nav button:focus {
    outline: none;
}

.owl-dots button span {
    width: 15px;
    height: 15px;
    display: block;
    border-radius: 50%;
    margin: 0 5px;
    background-color: #FFBD15;
}

.owl-dots button:focus {
    outline: none;
}

.owl-dots button.active span {
    background: red;
}

#s04 .owl-nav button.owl-prev {
    left: 15%;
}

#s04 .owl-nav button.owl-next {
    right: 15%;
}

#s05 .owl-nav {
    /* width: 100px; */
    width: auto;
    right: 50%;
    top: 100%;
    display: flex;
}

#s05 .owl-nav button {
    position: relative;
}

#s05 .owl-nav button i {
    font-size: 42px;
}

#s05 .owl-dots {
    width: auto;
    position: relative;
    display: inline-flex;
    margin: 0 5px;
}

#s05 .owl-dots button {
    display: none !important;
    position: relative;
    margin: 0 5px;
    color: #c4c4c4;
    font-size: 90%;
}

#s05 .owl-dots button.active {
    display: inline-block !important;
    color: #000;
    font-size: 110%;
}

#s05 .owl-dots button.show {
    display: inline-block !important;
}

#s06 .owl-nav {
    /* width: 100px; */
    width: auto;
    top: 68%;
    right: 44%;
    display: flex;
}

#s06 .owl-nav button {
    position: relative;
}

#s06 .owl-nav button i {
    font-size: 42px;
}

#s06 .owl-dots {
    width: auto;
    position: relative;
    display: inline-flex;
    margin: 0 5px;
}

#s06 .owl-dots button {
    display: none !important;
    position: relative;
    margin: 0 5px;
    color: #c4c4c4;
    font-size: 90%;
}

#s06 .owl-dots button.active {
    display: inline-block !important;
    color: #000;
    font-size: 110%;
}

#s06 .owl-dots button.show {
    display: inline-block !important;
}

/* #s06 .owl-nav {
    width: 100px;
    top: 68%;
    right: 44%;
}

#s06 .owl-nav button i {
    font-size: 42px;
} */

#s10 .owl-nav {
    bottom: -50px;
    top: auto;
    padding: 0 520px;
}

#s10 .owl-nav button i {
    font-size: 42px;
}

@media(max-width: 1440px) {
    #s05 .owl-nav {
        right: 40%;
    }

    #s06 .owl-nav {
        right: 42%;
    }
}

@media(max-width: 1200px) {
    #s04 .owl-nav button.owl-prev {
        left: 10%;
    }

    #s04 .owl-nav button.owl-next {
        right: 10%;
    }
}

@media(max-width: 800px) {
    #s04 .owl-nav button.owl-prev {
        left: 5%;
    }

    #s04 .owl-nav button.owl-next {
        right: 5%;
    }
}

@media(max-width: 600px) {
    #s04 .owl-nav button.owl-prev {
        left: 1%;
    }

    #s04 .owl-nav button.owl-next {
        right: 1%;
    }
}

@media(max-width: 425px) {
    .owl-nav {
        top: calc(50% - 25px);
    }

    .owl-nav button i {
        font-size: 50px;
    }

    #s04 .owl-nav button.owl-prev {
        left: 1%;
    }

    #s04 .owl-nav button.owl-next {
        right: 1%;
    }
}

@media(max-width: 375px) {
    #s05 .owl-nav {
        right: 35%;
    }
}

@media(max-width: 320px) {

}
