@media(max-width: 1600px) {
    header .header:before {
        width: 18.93%;
        bottom: 5.5%;
    }

    #s06:before {
        right: 2%;
    }

    #s10 .card div.card-photo {
        right: 0;
    }

    footer .footer {
        background-size: auto;
        background-position: 50% 100%;
    }
}

@media(max-width: 1536px) {
    header .header:before {
        width: 16.93%;
    }
}

@media(max-width: 1440px) {
    header .header {
        background-position: 0 -65px;
    }

    header .header:before {
        right: 22.5%;
        bottom: 13.5%;
    }

    header .header > div {
        margin-left: 18%;
        padding-top: 10.5%;
    }

    header .header h1 {
        font-size: 35px;
    }

    header .header p.subtitle {
        font-size: 29px;
    }

    header .header p.description {
        font-size: 16px;
        width: 65%;
    }

    header .header .btn-order {
        font-size: 18px;
    }

    #s05 .about-specialists {
        width: 750px !important;
        min-width: 750px;
        margin-right: -60px;
    }

    #s05 .carouselSpecialists {
        margin-left: -60px;
    }

    #s06:before {
        display: none;
        background-image: none;
    }

    #s08 .form {
        width: 80%;
        margin: auto;
    }

    #s08 .form form {
        width: 80%;
    }
}

@media(max-width: 1366px) {
    #s05 .specialist .description {
        width: 100%;
    }
}

@media(max-width: 1280px) {
    header nav {
        max-height: 150px;
    }

    header nav > .container {
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    header nav .navbar-collapse {
        flex-grow: 0;
        align-items: flex-end;
        padding-bottom: 25px;
    }

    header nav .tablet {
        width: 100%;
    }

    header .header {
        background-position: 0 -50px;
    }

    header .header:before {
        bottom: 19.5%;
    }

    header .header > div {
        margin-left: 21%;
        text-align: left;
        padding-top: 11.5%;
    }

    header .header p.description {
        margin: 0 0 1rem;
    }

    #s05 .about-specialists {
        margin-right: -80px;
    }

    footer .footer {
        background-position: 0% 100%;
    }
}

@media(max-width:1200px) {
    header .header {
        background-size: auto;
        height: 890px;
        background-position: -280px -70px;
    }

    header .header:before {
        right: 6%;
        bottom: -3.5%;
        width: 30%;
    }

    header .header > div {
        width: 100%;
        margin-left: 0;
        padding: 26.5% 12.5% 0;
    }

    header .header p.description {
        width: 55%;
    }

    #s01 .s01-cards {
        width: 80%;
        margin: auto;
    }

    #s01 .advantage-card {
        width: calc(50% - 10px);
    }

    #s02 {
        margin-top: 40px;
        padding-bottom: 120px;
    }

    #s02 h2 {
        text-align: center;
        margin-bottom: 35px;
    }

    #s02 .nav-tabs {
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
    }

    #s02 .nav-tabs .nav-item {
        position: relative;
        width: 30%;
    }

    #s02 .nav-tabs .nav-item:not(:first-child) {
        margin-left: -5%;
    }

    #s02 .nav-tabs .nav-item:nth-child(1) {z-index:4}
    #s02 .nav-tabs .nav-item:nth-child(2) {z-index:3}
    #s02 .nav-tabs .nav-item:nth-child(3) {z-index:2}
    #s02 .nav-tabs .nav-item:nth-child(4) {z-index:1}

    #s02 .tab-content .tariff-card {
        width: 100%;
    }

    #s02 .tab-content {
        padding: 75px 0px 50px;
    }

    #s02 .tab-content .tariffs {
        display: none;
    }

    #s02 .tab-content .tariffs.mobile {
        display: flex;
    }

    #s02 .tab-content .owl-stage-outer {
        padding-top: 65px;
    }

    #s03 h2 {
        text-align: center;
    }

    #s03 .about-company {
        padding: 0 100px;
    }

    #s03 .about-company > div {
        height: 295px;
    }

    #s03 .about-company button {
        margin-left: auto;
        display: block;
    }

    #s03 img {
        left: 0;
        top: 0;
        width: 90%;
        margin: auto;
        display: block;
    }

    #s05 {
        background-position: 23% 95%;
    }

    #s05 .about-specialists {
        position: relative;
        width: 85% !important;
        max-width: 100%;
        margin: auto;
        padding: 40px 40px 80px;
        z-index: -1;
    }

    #s05 .about-specialists h2 {
        text-align: center;
    }

    #s05 .carouselSpecialists {
        margin: auto;
        width: 85%;
        padding: 0 40px;
        margin-top: -50px;
    }

    #s06 h2 {
        text-align: center;
    }

    #s06 .carouselEquipments {
        width: 80%;
        margin: auto;
    }

    #s06 .owl-carousel .owl-item img {
        width: 60%;
        margin: 50px auto 0px;
    }

    #s09 .container {
        padding: 0 40px;
    }

    #s10 .card div.card-photo {
        width: 155px;
        height: 155px;
    }

    #s11 .form {
        padding-left: 0;
    }

    #s11 .form .image {
        display: none;
    }

    #s11 #calcForm {
        width: 80%;
        margin: auto;
    }

    #s12 .road ul {
        justify-content: space-between;
        padding: 0 75px;
    }

    #s12 .road ul li {
        width: 100px;
        height: 100px;
    }

    #s12 .road ul li > div {
        left: -85%;
    }

    #s14 {
        padding: 50px 0;
    }

    #s14 .d-flex {
        flex-direction: column;
    }

    #s14 .image {
        margin-bottom: 15px;
    }

    #s14 .form .form-row {
        flex-direction: column;
    }

    #s14 .form input {
        margin-bottom: 15px;
    }

    #s14 .form button {
        display: block;
        margin: 15px auto 0px;
    }

    #s15 .container {
        padding: 0 150px !important;
    }

    #s15 .warning > div {
        align-items: flex-start;
        padding: 20px 10px;
    }

    #s15 .warning > div img {
        margin-top: 0px;
    }

    #news .sidebar {
        padding: 40px 30px 40px 100px;
    }

    #news .sidebar > div {
        flex-direction: row;
    }

    #news .sidebar ul {
        padding: 40px 0px 30px 0px;
    }

    #news .last-news {
        width: 60%;
        border-right: solid 2px #c4c4c4;
        margin-bottom: 0;
    }

    #news .top-news {
        width: 40%;
        padding: 0 50px 0 80px;
    }

    #news .top-desktop {
        display: none;
    }

    #news .top-mobile {
        display: block;
    }

    #news .news-card-img {
        height: 120px;
    }

    #news .news-card-body p {
        font-family: 'Roboto';
        font-size: 14px;
        padding: 15px;
    }

    #news .content {
        padding-top: 40px;
    }
}

@media(max-width:1024px) {
    header .header {
        background-size: auto;
        background-position: -280px -70px;
        height: 790px;
    }

    header .header:before {
        right: 8%;
        bottom: -10%;
        width: 35%;
    }

    header .header > div {
        width: 100%;
        margin-left: 0;
        padding: 26.5% 8.5% 0;
    }

    header .header p.description {
        width: 50%;
    }

    #s08 .form:before {
        display: none;
        background-image: none;
    }

    #s08 .form form {
        width: 90%;
    }

    #s08 .form ul {
        width: 70%;
        flex-direction: column;
        margin: auto;
    }

    #s08 .form ul li {
        width: 100%;
    }

    #s10 .card div.card-photo {
        width: 180px;
        height: 180px;
        right: -5%;
    }

    #s13 .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    #s13 .faq::before {
        width: 95px;
        height: 252px;
        background-size: 100%;
        bottom: auto;
        right: 1%;
    }

    #map .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    #feedback .container {
        padding-left: 0px;
        padding-right: 0px;
        margin-bottom: 30px;
    }
}

@media(max-width: 800px) {
    header .header {
        background-size: auto;
        background-position: -500px -70px;
    }

    header .header:before {
        right: 7%;
        bottom: -10.5%;
        width: 39.8%;
    }

    header .header > div {
        width: 100%;
        margin-left: 0;
        padding: 26.5% 8.5% 0;
    }

    header .header p.description {
        width: 75%;
    }

    #s01 {
        margin-top: 150px;
    }

    #s04 {
        margin-top: 75px;
    }

    #s05 {
        background-position: 50% 90%;
    }

    #s05 .about-specialists {
        width: 85% !important;
        margin: auto;
        min-width: auto;
    }

    #s06 .owl-carousel .owl-item img {
        width: 75%;
        margin: 80px auto 0px;
    }

    #s08 .form {
        width: 95%;
    }

    #s10 .card div.card-photo {
        top: 30%;
    }

    #s11 #calcForm {
        width: 90%;
        margin: auto;
    }

    #s12 .road {
        height: 114px;
    }

    #s12 .road:before {
        height: 12px;
        top: calc(50% - 6px);
    }

    #s12 .road ul {
        padding: 0 55px;
    }

    #s12 .road ul li {
        width: 70px;
        height: 70px;
    }

    #s12 .road ul li > div {
        left: -100%;
    }

    #s12 .road ul li > div p {
        font-size: 11.8px;
    }

    #s12 .road ul li > p {
        font-size: 12px;
    }

    #s12 .road ul li > p > span {
        font-size: 18px;
    }

    #s12 .road ul li:last-child > p {
        font-size: 10px;
    }

    #s15 .container {
        padding: 0 75px !important;
    }

    #s17 {
        margin-bottom: 100px;
    }

    #address .container address > div > img {
        align-self: flex-start;
    }

    #news .sidebar {
        padding: 40px 30px;
    }

    #news .last-news {
        width: 50%;
        border-right: solid 2px #c4c4c4;
        margin-bottom: 0;
    }

    #news .top-news {
        width: 50%;
        padding: 0 50px 0 80px;
    }

    #news .content h1 {
        font-size: 36px;
    }

    #news .content h2 {
        font-size: 30px;
    }

    #news .content h3 {
        font-size: 18px;
    }

    footer .footer {
        display: none;
    }

    footer .footer.tablet {
        display: block;
        background-image: url('../images/footer-md-bg.png');
        background-size: 100%;
        background-position: 0 0%;
    }

    footer .footer.tablet .container .row > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 35px;
    }

    footer .footer.tablet .footer-logo img {
        position: relative;
        top: -50px;
    }

    footer .footer.tablet .footer-soc-icons {
        margin-top: -10px;
        margin-bottom: 40px;
    }

    footer .footer .copyright {
        display: none;
    }

    footer .footer.tablet .copyright {
        display: block;
    }
}

@media(max-width: 768px) {
    #s04 .owl-carousel .description {
        background-position: 50% 50%;
        background-size: 95%;
        padding-left: 15%;
    }

    #s05 .about-specialists {
        width: 90% !important;
    }
}

@media(max-width: 600px) {
    header nav.navbar {
        padding: .5rem 0;
    }

    header nav > .container {
        align-items: center !important;
        justify-content: space-around !important;
    }

    header nav .navbar-toggler img {
        width: 45px;
        height: 45px;
    }

    header nav .mobile-icon a img {
        width: 45px;
        height: 45px;
    }

    header nav ul.navbar-nav {
        width: 100%;
        padding-left: 50px;
    }

    header #navbarSupportedContent {
        z-index: 100;
        background-color: #fff;
    }

    header .header {
        background-position: -545px -70px;
    }

    header .header:before {
        width: 50%;
    }

    header .header > div {
        padding: 34.5% 6.5% 0;
    }

    header .header h1 {
        font-size: 30px;
    }

    header .header p.description {
        width: 90%;
    }

    header .header-page p.title {
        font-size: 30px;
    }

    header .breadcrumbs {
        padding: 30px 0;
        text-align: center;
    }

    header .breadcrumb {
        justify-content: center;
        background: none;
    }

    header .breadcrumb li a {
        font-size: 14px;
    }

    #s01 .s01-cards {
        width: 80%;
        margin: auto;
    }

    #s01 .advantage-card {
        width: 100%;
        margin: 0 0 65px;
    }
    #s02 {
        padding-bottom: 0px;
        margin-bottom: 90px;
        background-color: #E5F9FF;
    }

    #s02 h2 {
        padding-top: 20px;
    }

    #s02 .nav-tabs {
        flex-wrap: wrap;
        border: none;
    }

    #s02 .nav-tabs .nav-item {
        width: 50%;
        margin: 0px !important;
    }

    #s02 .nav-tabs .nav-link {
        color: #2A68BD;
        font-weight: bold;
        font-size: 19px;
        line-height: 15px;
        background: #fff;
        border: 3px solid #FFD364;
        border-radius: 50px;
        height: 70px;
        text-align: center;
        padding-top: 27px;
        margin: 20px 25px;
    }

    #s02 .nav-tabs .nav-link.active {
        background-color: #FFE6AE;
        border: 3px solid #FFD364;
        color: #2A68BD;
    }

    #s02 .tab-content {
        border: none;
    }

    #s02 .tab-content .tariff-card {
        border: none;
        filter: drop-shadow(0px 8.75852px 8.75852px rgba(0, 0, 0, 0.1));
        margin-bottom: 20px;
    }

    #s02 .container button.btn-order {
        width: auto;
    }

    #s03 .about-company {
        padding: 0 15px;
    }

    #s03 .about-company button {
        margin: auto;
    }

    #s05 {
        background-size: 97%;
        background-position: 160% 85%;
    }

    #s05 .carouselSpecialists {
        width: 100%;
    }

    #s06 .owl-carousel .owl-item img {
        width: 95%;
    }

    #s06 .carouselEquipments div.mobile-img {
        display: block;
    }

    #s08 .form {
        width: 100%;
    }

    #s08 .form form input {
        height: 55px;
    }

    #s08 .form p.after-form {
        font-size: 16px;
    }

    #s09 .schema-card img {
        width: 90px;
        height: 90px;
    }

    #s09 .schema-card {
        margin-bottom: 40px;
    }

    #s10 {
        background-image: none;
    }

    #s11 .step-1 .fields > div {
        width: 50%;
    }

    #s11 .step-2 .fields > div {
        width: calc(50% - 15px);
    }

    #s11 .step-2 .fields > div > div.area-img {
        width: 90%;
        height: 80px;
    }

    #s11 .step-2 .fields label span {
        width: 140px;
        font-size: 14px;
    }

    #s11 .step-4 .fields {
        justify-content: center;
    }

    #s11 .step-4 .fields > div {
        width: calc(50% - 15px);
        margin-left: 15px;
        margin-bottom: 30px;
    }

    #s11 #calcForm .nav {
        top: 36%;
    }

    #s11 #calcForm .nav button#prevBtn {
        left: -5%;
    }

    #s11 #calcForm .nav button#nextBtn {
        right: -5%;
    }

    #s11 #calcForm .nav-steps .dots span:not(:last-child) {
        margin-right: 10px;
    }

    #s11 #calcForm .nav-steps .dots span {
        width: 40px;
        height: 40px;
    }

    #s11 #calcForm .steps p {
        font-size: 22px;
    }

    #s12 {
        height: 285vw;
    }

    #s12 .container {
        position: relative;
    }

    #s12 .images {
        transform: rotate(-90deg);
        position: absolute;
        /*left: -65vw;*/
        left: -40vw;
        top: 75vw;
    }

    #s12 .images img {
        /* margin: 80vw 20vw; */
        width: 55vw;
    }

    #s12 .road {
        width: 275%;
        height: 40vw;
        max-height: 175px;
        transform: rotate(90deg);
        right: 60vw;
        top: 115vw;
        border-radius: 30px;
    }

    #s12 .road .container {
        max-width: 100% !important;
    }

    #s12 .road ul {
        /* padding-left: 35px; */
        /* padding: 0 35px 0 90px; */
        padding: 0 35px 0 140px;
    }

    #s12 .road ul li {
        width: 26.5vw;
        height: 26.5vw;
        max-width: 135px;
        max-height: 135px;
    }

    #s12 .road ul li > div {
        /* left: -85%; */
        left: -23vw;
    }

    #s12 .road ul li > div p {
        font-size: 4.5vw;
        text-align: center;
    }

    #s12 .road ul li > p {
        font-size: 4vw;
    }

    #s12 .road ul li > p > span {
        font-size: 7.5vw;
    }

    #s12 .road ul li:last-child > p {
        font-size: 3.5vw;
    }

    #s13 .faq::before {
        display: none;
        background-image: none;
    }

    #s13 .faq {
        padding: 60px 30px;
    }

    #s14 .form input {
        width: 100%;
    }

    #s15 .container {
        padding: 0 20px !important;
    }

    #s15 .warning > div img {
        display: none;
    }

    #s15 .sert-images a {
        margin-right: 0;
    }

    #s16 p.subtitle {
        font-size: 16px;
        width: 85%;
    }

    #s17 {
        margin-bottom: 175px;
    }

    #address .container {
        padding: 0px 30px;
    }

    #requisites .container {
        padding: 0 30px;
    }

    #feedback {
        margin: 85px 0 175px;
    }

    #feedback .form {
        width: 100%;
    }

    #news .sidebar > div {
        flex-direction: column;
    }

    #news h3 {
        text-align: center;
    }

    #news .sidebar ul {
        padding: 20px 90px;
    }

    #news .last-news {
        width: 100%;
        border-right: none;
        border-bottom: solid 2px #c4c4c4;
        margin-bottom: 0;
    }

    #news .top-news {
        width: 100%;
        padding: 50px 50px 0 80px;
    }

    #news .top-mobile {
        width: 300px;
        margin: auto;
    }

    #news .content {
        margin-bottom: 120px;
    }

    footer .footer.tablet {
        position: relative;
        background: linear-gradient(180deg, #0B22C2 0%, #0419A3 41.67%, #0A1FB1 73.96%, #003789 100%);
    }

    footer .footer.tablet:before {
        content: '';
        display: block;
        top: -220px;
        position: absolute;
        width: 100%;
        height: 600px;
        background-image: url(../images/Union.png);
        background-size: 85%;
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    footer .footer.tablet > .container {
        padding-top: 10px;
    }

    footer .footer.tablet .container .row div:first-child .copyright {
        display: none;
    }

    footer .footer.tablet .container .row div:last-child .copyright {
        display: block;
        padding: 30px 0;
    }

    footer .footer.tablet .footer-logo img {
        top: 0;
        width: 157px;
        height: 114px;
    }

    footer .footer.tablet .footer-soc-icons {
        margin-top: 30px;
    }
}

@media(max-width: 425px) {
    h2 {
        font-size: 35px;
        padding-left: 15px;
        padding-right: 15px;
    }

    header .header {
        background-position: 41% -72px;
        background-size: 375%;
        margin-bottom: 0px;
    }

    header .header:before {
        width: 60%;
        right: 3%;
        bottom: 6%;
    }

    header .header > div {
        padding: 40% 6.5% 0;
    }

    header .header h1 {
        font-size: 20px;
    }

    header .header p.subtitle {
        font-size: 16px;
    }

    header .header p.description {
        width: 100%;
        font-size: 12px;
        margin-bottom: 2rem;
    }

    header .header .btn-order {
        font-size: 14.5px;
        padding: 5px 22px;
    }

    header .header-page {
        height: 80px;
    }

    header .header-page h1 {
        font-size: 30px;
    }

    #s01 {
        margin-top: 0px;
    }

    #s02 .nav-tabs .nav-link {
        font-size: 15px;
        line-height: 15px;
        height: auto;
        padding: 15px 5px;
        margin: 10px;
    }

    #s02 .tab-content .tariff-card .tariff-title {
        background-size: 100%;
    }

    #s02 .container button.btn-order {
        width: auto;
        font-size: 18px;
        padding: 0px 38px;
        margin: 30px auto 0px;;
    }

    #s04 .container-fluid {
        padding: 0 10px;
    }

    #s04 .owl-carousel .description {
        background-size: 95%;
        padding-top: 45px;
        bottom: 0;
    }

    #s04 .owl-carousel .description p.title {
        font-size: 10.4299px;
        line-height: 10px;
    }

    #s04 .owl-carousel .description p.text {
        font-size: 8.3439px;
        line-height: 8px;
    }

    #s05 .container-fluid {
        padding: 0px !important;
    }

    #s05 .about-specialists {
        background-color: #E5F9FF;
        z-index: 1;
        border: none;
        width: 100% !important;
        padding: 20px 30px;
    }

    #s05 .carouselSpecialists {
        padding: 0px;
    }

    #s05 .specialist .fio {
        flex-direction: column;
        align-items: center;
    }

    #s05 .specialist .fio p {
        font-size: 14px;
        margin-left: 0px;
        text-align: center;
    }

    #s05 .specialist .fio p:first-child {
        font-size: 17px;
    }

    #s05 .specialist .description li {
        font-size: 12.2981px;
        line-height: 150%;
    }

    #s06 {
        padding: 55px 0px 75px;
    }

    #s06 .carouselEquipments {
        width: 95%;
    }

    #s06 .carouselEquipments .img {
        display: none;
    }

    #s06 .owl-carousel .owl-item img {
        margin-top: 0;
    }

    #s08 {
        padding: 80px 0;
        background-image: none;
    }

    #s08 .form form input {
        height: 45px;
    }

    #s08 .form form button {
        padding: 5px 30px;
        font-size: 20px;
    }

    #s08 .form ul {
        width: 95%;
        padding: 0px;
    }

    #s09 {
        padding: 45px 0 10px;
    }

    #s09 .schema-card h3 {
        font-size: 19px;
    }

    #s09 .schema-card p {
        font-size: 11px;
    }

    #s10 .card div.card-photo {
        width: 150px;
        height: 150px;
    }

    #s11 .step-1 .fields > div {
        width: 100%;
    }

    #s11 .step-2 .fields > div {
        width: 100%;
        margin-left: 0;
    }

    #s11 .step-2 .fields > div > div.area-img {
        width: 90%;
        height: 80px;
    }

    #s11 .step-2 .fields label span {
        width: 140px;
        font-size: 14px;
    }

    #s11 .step-4 .fields {
        justify-content: center;
    }

    #s11 .step-4 .fields > div {
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
    }

    #s11 .step-4 .fields > div > div.area-img {
        width: 90%;
        height: 80px;
    }

    #s11 #calcForm .nav {
        top: 36%;
    }

    #s11 #calcForm .nav button {
        font-size: 55px;
    }

    #s11 #calcForm .nav button#prevBtn {
        left: -5%;
    }

    #s11 #calcForm .nav button#nextBtn {
        right: -5%;
    }

    #s11 #calcForm .nav-steps .dots span:not(:last-child) {
        margin-right: 10px;
    }

    #s11 #calcForm .nav-steps .dots span {
        width: 20px;
        height: 20px;
    }

    #s11 #calcForm .steps p {
        font-size: 18px;
    }

    #s13 .faq .card-header h3::before {
        width: 40px;
        height: 40px;
        min-width: 40px;
        font-size: 25px;
        line-height: 39px;
    }

    #s13 .faq .card-header h3 {
        font-size: 16px;
        line-height: 150%;
    }

    #s13 .faq .card .card-body p {
        margin-left: 0px;
    }

    #s14 .form p.title {
        font-size: 18px;
        text-align: center;
    }

    #s14 .form input {
        height: 55px;
    }

    #s14 .form input::placeholder {
        font-size: 18px;
    }

    #s14 .form p.prompt {
        font-size: 14px;
        text-align: center;
    }

    #s14 .form button {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }

    #s15 .serts .sert {
        padding: 15px 10px;
    }

    #s15 .warning > div p {
        font-size: 14px;
    }

    #s16 p.subtitle {
        font-size: 14px;
        width: 100%;
    }

    #s16 .news a p {
        font-size: 14px;
        line-height: 20px;
    }

    #s16 .card h3 {
        font-size: 20px;
        line-height: 25px;
    }

    #s17 .last-work h5 {
        font-size: 16px;
        line-height: 16px;
    }

    #s17 .last-work p {
        font-size: 14px;
        line-height: 14px;
    }

    #address .container {
        padding: 0 15px;
    }

    #address .container address > div {
        margin-bottom: 15px;
    }

    #address .container address > div > img {
        width: 20px;
        height: 20px;
    }

    #address .container address > div p {
        font-size: 18px;
    }

    #map {
        margin: 45px 0;
    }

    #map h3 {
        margin-left: 50px;
    }

    #requisites .container {
        padding: 0 15px;
    }

    #requisites .container div p {
        font-size: 18px;
        margin-bottom: 15px;
    }

    #news h3 {
        margin-bottom: 20px;
    }

    #news .sidebar ul {
        padding: 10px 0;
    }

    #news .top-news {
        padding: 40px 0;
    }

    #news .top-mobile {
        width: 250px;
    }

    #news .content {
        margin-bottom: 60px;
    }

    #news .content h1 {
        font-size: 30px;
    }

    #news .content h2 {
        font-size: 24px;
    }

    #news .content h3 {
        font-size: 18px;
    }

    footer .footer.tablet:before {
        top: -155px;
    }
}

@media(max-width: 375px) {
    h2 {
        font-size: 30px;
    }

    header .header {
        height: 665px;
    }

    header .header::before {
        bottom: 2%;
    }

    header .header > div {
        padding: 36% 5% 0;
    }

    header .header h1 {
        font-size: 18px;
    }

    header .header p.subtitle {
        font-size: 14px;
    }

    header .header p.description {
        font-size: 11px;
        margin-bottom: 2rem;
    }

    header .header:before {
        width: 55%;
        bottom: 13%;
    }

    #s02 .tab-content {
        padding: 75px 25px 50px;
    }

    #s02 .tab-content .tariff-card .tariff-title.green {
        background-size: 100%;
    }

    #s08 .form h3 {
        font-size: 24px;
        line-height: 26px;
    }

    #s08 .form p.subtitle {
        font-size: 12px;
        line-height: 13px;
    }

    #s08 .form p.before-form {
        font-size: 8px;
    }

    #s08 .form form {
        width: 100%;
    }

    #s08 .form form input {
        height: 40px;
    }

    #s08 .form form button {
        font-size: 14px;
    }

    #s08 .form p.after-form {
        font-size: 8px;
    }

    #s08 .form ul li {
        padding: 10px 0 10px 30px;
        font-size: 10px;
        background-size: 20px;
    }

    #s10 .card div.card-photo {
        width: 150px;
        height: 150px;
    }

    #s13 .faq {
        padding: 30px 0px;
    }

    #s13 .faq .questions h2,
    #s13 .faq .questions .subtitle {
        padding-left: 15px;
        padding-right: 15px;
    }

    #s13 .faq .card-header h3::before {
        margin: 0 15px 0 0;
    }

    #s13 .faq .card-header h3 {
        font-size: 14px;
        line-height: 150%;
    }

    #s13 .faq .card .card-body p {
        font-size: 12px;
    }

    #s14 .form p.title {
        font-size: 22px;
    }

    #s14 .form p.prompt {
        font-size: 16px;
    }

    #s15 .serts .sert p {
        font-size: 12px;
    }

    #s15 .warning > div p {
        font-size: 12px;
    }

    #address .container address > div {
        margin-bottom: 10px;
    }

    #address .container address > div img {
        width: 18px;
        height: 18px;
    }

    #address .container address > div p {
        font-size: 14px;
    }

    #map h3 {
        font-size: 18px;
    }

    #requisites h3 {
        font-size: 18px;
    }

    #requisites .container div p {
        font-size: 14px;
        margin-bottom: 10px;
    }

    #feedback .feedback {
        padding: 40px 15px;
    }

    footer .footer.tablet:before {
        top: -135px;
    }
}

@media(max-width: 320px) {
    header .header {
        background-position: 41% -55px;
        height: 575px;
    }

    header .header::before {
        width: 47%;
        bottom: 0%;
    }

    header .header > div {
        padding: 38% 5% 0;
    }

    header .header h1 {
        font-size: 16px;
    }

    header .header p.subtitle {
        font-size: 12px;
    }

    header .header p.description {
        font-size: 9px;
        margin-bottom: 2rem;
    }

    #s04 .owl-carousel .description {
        bottom: -10px;
    }

    #s10 .card div.card-photo {
        width: 120px;
        height: 120px;
        top: 25%;
    }

    #s17 .last-work {
        padding-left: 5px;
        padding-right: 5px;
    }

    #s17 .last-work h5 {
        font-size: 16px;
        line-height: 16px;
    }

    #s17 .last-work p {
        font-size: 13px;
        line-height: 13px;
    }

    #news .sidebar ul li a {
        font-size: 12px;
    }

    #news .top-mobile {
        width: 200px;
    }

    footer .footer.tablet:before {
        top: -120px;
    }
}

@media(width: 1024px) {
    #s01 {
        margin-top: 175px;
    }

    #s12 .road ul {
        justify-content: space-between;
        padding: 0 75px;
    }

    #s12 .road ul li {
        width: 100px;
        height: 100px;
    }

    #s12 .road ul li > div {
        left: -85%;
    }
}
