
@media(max-width: 1600px) {
    header .header:before {
        width: 18.93%;
        bottom: 5.5%;
    }

    footer .footer {
        background-size: auto;
        background-position: 50% 100%;
    }
}

@media(max-width: 1536px) {
    header .header:before {
        width: 16.93%;
    }
}

@media(max-width: 1440px) {
    header .header {
        background-position: 0 -65px;
    }

    header .header:before {
        right: 22.5%;
        bottom: 13.5%;
    }

    header .header > div {
        margin-left: 18%;
        padding-top: 10.5%;
    }

    header .header h1 {
        font-size: 35px;
    }

    header .header p.subtitle {
        font-size: 29px;
    }

    header .header p.description {
        font-size: 16px;
        width: 65%;
    }

    header .header .btn-order {
        font-size: 18px;
    }
}

@media(max-width: 1280px) {
    header nav {
        max-height: 150px;
    }

    header nav > .container {
        flex-wrap: wrap !important;
        justify-content: center !important;
    }

    header nav .navbar-collapse {
        flex-grow: 0;
        align-items: flex-end;
        padding-bottom: 25px;
    }

    header nav .tablet {
        width: 100%;
    }

    header .header {
        background-position: 0 -50px;
    }

    header .header:before {
        bottom: 19.5%;
    }

    header .header > div {
        margin-left: 21%;
        text-align: left;
        padding-top: 11.5%;
    }

    header .header p.description {
        margin: 0 0 1rem;
    }

    footer .footer {
        background-position: 0% 100%;
    }
}

@media(max-width:1200px){
    header .header {
        background-size: auto;
        height: 890px;
        background-position: -280px -70px;
    }

    header .header:before {
        right: 6%;
        bottom: -3.5%;
        width: 30%;
    }

    header .header > div {
        width: 100%;
        margin-left: 0;
        padding: 26.5% 12.5% 0;
    }

    header .header p.description {
        width: 55%;
    }

    #s01 .s01-cards {
        width: 80%;
        margin: auto;
    }

    #s01 .advantage-card {
        width: calc(50% - 10px);
    }

    #s02 {
        margin-top: 40px;
        padding-bottom: 120px;
    }

    #s02 h2 {
        text-align: center;
        margin-bottom: 35px;
    }

    #s02 .nav-tabs {
        white-space: nowrap;
        display: flex;
        flex-wrap: nowrap;
    }

    #s02 .nav-tabs .nav-item {
        position: relative;
        width: 30%;
    }

    #s02 .nav-tabs .nav-item:not(:first-child) {
        margin-left: -5%;
    }

    #s02 .nav-tabs .nav-item:nth-child(1) {z-index:4}
    #s02 .nav-tabs .nav-item:nth-child(2) {z-index:3}
    #s02 .nav-tabs .nav-item:nth-child(3) {z-index:2}
    #s02 .nav-tabs .nav-item:nth-child(4) {z-index:1}

    #s02 .tab-content .tariff-card {
        width: 100%;
    }

    #s02 .tab-content {
        padding: 75px 0px 50px;
    }

    #s02 .tab-content .tariffs {
        display: none;
    }

    #s02 .tab-content .tariffs.mobile {
        display: flex;
    }

    #s02 .tab-content .owl-stage-outer {
        padding-top: 65px;
    }

    #s03 h2 {
        text-align: center;
    }

    #s03 .about-company {
        padding: 0 100px;
    }

    #s03 .about-company > div {
        height: 295px;
    }

    #s03 .about-company button {
        margin-left: auto;
        display: block;
    }

    #s03 img {
        left: 0;
        top: 0;
        width: 90%;
        margin: auto;
        display: block;
    }

    #s09 .container {
        padding: 0 40px;
    }


}

@media(max-width:1024px) {
    header .header {
        background-size: auto;
        background-position: -280px -70px;
        height: 790px;
    }

    header .header:before {
        right: 8%;
        bottom: -10%;
        width: 35%;
    }

    header .header > div {
        width: 100%;
        margin-left: 0;
        padding: 26.5% 8.5% 0;
    }

    header .header p.description {
        width: 50%;
    }
}

@media(max-width: 800px) {
    header .header {
        background-size: auto;
        background-position: -500px -70px;
    }

    header .header:before {
        right: 7%;
        bottom: -10.5%;
        width: 39.8%;
    }

    header .header > div {
        width: 100%;
        margin-left: 0;
        padding: 26.5% 8.5% 0;
    }

    header .header p.description {
        width: 75%;
    }

    #s01 {
        margin-top: 150px;
    }

    #s04 {
        margin-top: 75px;
    }

    #s12 .road {
        height: 114px;
    }

    #s12 .road:before {
        height: 12px;
        top: calc(50% - 6px);
    }

    #s12 .road ul li {
        width: 70px;
        height: 70px;
    }

    #s12 .road ul li > div p {
        font-size: 11.8px;
    }

    #s12 .road ul li > p {
        font-size: 12px;
    }

    #s12 .road ul li > p > span {
        font-size: 18px;
    }

    #s12 .road ul li:last-child > p {
        font-size: 10px;
    }

    footer .footer {
        display: none;
    }

    footer .footer.tablet {
        display: block;
        background-image: url('../images/footer-md-bg.png');
        background-position: 0 0%;
    }

    footer .footer.tablet .container .row > div:first-child {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-bottom: 35px;
    }

    footer .footer.tablet .footer-logo img {
        position: relative;
        top: -50px;
    }

    footer .footer.tablet .footer-soc-icons {
        margin-top: -10px;
        margin-bottom: 40px;
    }
}

@media(max-width: 600px) {
    header nav.navbar {
        padding: .5rem 0;
    }

    header nav > .container {
        align-items: center !important;
        justify-content: space-around !important;
    }

    header nav .navbar-toggler img {
        width: 45px;
        height: 45px;
    }

    header nav .mobile-icon a img {
        width: 45px;
        height: 45px;
    }

    header nav ul.navbar-nav {
        width: 100%;
        padding-left: 50px;
    }

    header #navbarSupportedContent {
        z-index: 100;
        background-color: #fff;
    }

    header .header {
        background-position: -545px -70px;
    }

    header .header:before {
        width: 50%;
    }

    header .header > div {
        padding: 34.5% 6.5% 0;
    }

    header .header h1 {
        font-size: 30px;
    }

    header .header p.description {
        width: 90%;
    }

    #s01 .s01-cards {
        width: 80%;
        margin: auto;
    }

    #s01 .advantage-card {
        width: 100%;
        margin: 0 0 65px;
    }
    #s02 {
    padding-bottom: 0px;
    margin-bottom: 90px;
    background-color: #E5F9FF;
    }

    #s02 h2 {
        padding-top: 20px;
    }

    #s02 .nav-tabs {
        flex-wrap: wrap;
        border: none;
    }

    #s02 .nav-tabs .nav-item {
        width: 50%;
        margin: 0px !important;
    }

    #s02 .nav-tabs .nav-link {
        color: #2A68BD;
        font-weight: bold;
        font-size: 19px;
        line-height: 15px;
        background: #fff;
        border: 3px solid #FFD364;
        border-radius: 50px;
        height: 70px;
        text-align: center;
        padding-top: 27px;
        margin: 20px 25px;
    }

    #s02 .nav-tabs .nav-link.active {
        background-color: #FFE6AE;
        border: 3px solid #FFD364;
        color: #2A68BD;
    }

    #s02 .tab-content {
        border: none;
    }

    #s02 .tab-content .tariff-card {
        border: none;
        filter: drop-shadow(0px 8.75852px 8.75852px rgba(0, 0, 0, 0.1));
        margin-bottom: 20px;
    }

    #s02 .container button.btn-order {
        width: auto;
    }

    #s03 .about-company {
        padding: 0 15px;
    }

    #s03 .about-company button {
        margin: auto;
    }



    #s09 .schema-card img {
        width: 90px;
        height: 90px;
    }

    #s09 .schema-card {
        margin-bottom: 40px;
    }




    #s12 {
        height: 285vw;
    }

    #s12 .images {
        transform: rotate(-90deg);
        position: absolute;
        left: -65vw;
    }

    #s12 .images img {
        margin: 80vw 20vw;
        width: 55vw;
    }

    #s12 .road {
        width: 275%;
        height: 40vw;
        max-height: 175px;
        transform: rotate(90deg);
        right: 60vw;
        top: 115vw;
        border-radius: 30px;
    }

    #s12 .road .container {
        max-width: 100% !important;
    }

    #s12 .road ul {
        padding-left: 35px;
    }

    #s12 .road ul li {
        width: 26.5vw;
        height: 26.5vw;
        max-width: 135px;
        max-height: 135px;
    }

    #s12 .road ul li > div {
        /* left: -85%; */
        left: -23vw;
    }

    #s12 .road ul li > div p {
        font-size: 4.5vw;
        text-align: center;
    }

    #s12 .road ul li > p {
        font-size: 4vw;
    }

    #s12 .road ul li > p > span {
        font-size: 7.5vw;
    }

    #s12 .road ul li:last-child > p {
        font-size: 3.5vw;
    }

    footer .footer.tablet {
        position: relative;
        background: linear-gradient(180deg, #0B22C2 0%, #0419A3 41.67%, #0A1FB1 73.96%, #003789 100%);
    }

    footer .footer.tablet:before {
        content: '';
        display: block;
        top: -220px;
        position: absolute;
        width: 100%;
        height: 600px;
        background-image: url(../images/Union.png);
        background-size: 85%;
        background-position: 0 0;
        background-repeat: no-repeat;
    }

    footer .footer.tablet > .container {
        padding-top: 10px;
    }

    footer .footer.tablet .container .row div:first-child .copyright {
        display: none;
    }

    footer .footer.tablet .container .row div:last-child .copyright {
        display: block;
        padding: 30px 0;
    }

    footer .footer.tablet .footer-logo img {
        top: 0;
        width: 157px;
        height: 114px;
    }

    footer .footer.tablet .footer-soc-icons {
        margin-top: 30px;
    }
}

@media(max-width: 425px) {
    h2 {
        font-size: 35px;
    }

    header .header {
        background-position: 41% -72px;
        background-size: 375%;
        margin-bottom: 0px;
    }

    header .header:before {
        width: 60%;
        right: 3%;
        bottom: 6%;
    }

    header .header > div {
        padding: 40% 6.5% 0;
    }

    header .header h1 {
        font-size: 20px;
    }

    header .header p.subtitle {
        font-size: 16px;
    }

    header .header p.description {
        width: 100%;
        font-size: 12px;
        margin-bottom: 2rem;
    }

    header .header .btn-order {
        font-size: 14.5px;
        padding: 5px 22px;
    }

    #s01 {
        margin-top: 0px;
    }

    #s02 .nav-tabs .nav-link {
        font-size: 15px;
        line-height: 15px;
        height: auto;
        padding: 15px 5px;
        margin: 10px;
    }

    #s02 .container button.btn-order {
        width: auto;
        font-size: 18px;
        padding: 0px 38px;
        margin: 30px auto 0px;;
    }

    #s09 {
        padding: 45px 0 10px;
    }

    #s09 .schema-card h3 {
        font-size: 19px;
    }

    #s09 .schema-card p {
        font-size: 11px;
    }



    footer .footer.tablet:before {
        top: -155px;
    }
}

@media(max-width: 375px) {
    h2 {
        font-size: 30px;
    }

    header .header {
        height: 665px;
    }

    header .header::before {
        bottom: 2%;
    }

    header .header > div {
        padding: 36% 5% 0;
    }

    header .header h1 {
        font-size: 18px;
    }

    header .header p.subtitle {
        font-size: 14px;
    }

    header .header p.description {
        font-size: 11px;
        margin-bottom: 2rem;
    }

    header .header:before {
        width: 55%;
        bottom: 13%;
    }

    #s02 .tab-content {
        padding: 75px 25px 50px;
    }

    #s02 .tab-content .tariff-card .tariff-title.green {
        background-size: 100%;
    }

    footer .footer.tablet:before {
        top: -135px;
    }
}

@media(max-width: 320px) {
    header .header {
        background-position: 41% -55px;
        height: 575px;
    }

    header .header::before {
        width: 47%;
        bottom: 0%;
    }

    header .header > div {
        padding: 38% 5% 0;
    }

    header .header h1 {
        font-size: 16px;
    }

    header .header p.subtitle {
        font-size: 12px;
    }

    header .header p.description {
        font-size: 9px;
        margin-bottom: 2rem;
    }



    footer .footer.tablet:before {
        top: -120px;
    }
}

@media(width: 1024px) {
    #s01 {
        margin-top: 175px;
    }
}
