body {
    font-family: 'Noto Sans', sans-serif;
    overflow-x: hidden;
}

h2 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    color: #000000;
}

h2 span {
    color: #023076;
}

button:focus {
    outline: none;
}

button.orange {
    font-style: normal;
    font-weight: 600;
    font-size: 17.8537px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 12px 24px;
    background: #FF9100;
    filter: drop-shadow(0px 2.97561px 2.97561px rgba(0, 0, 0, 0.25));
}

.row > div[class*='col-'] {
    display: flex;
    flex-direction: column;
}

header {
    margin-bottom: 50px;
}

header #navigation .form {
    padding: 10px 0;
}

header #navigation .form input {
    height: 22px;
}

header #navigation .form input::placeholder {
    font-size: 14px;
}

header #navigation .header-top {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header #navigation .header-top .geo {
    margin-left: 20px;
}

header #navigation .header-top .geo i {
    color: #FF9100;
}
header #navigation .header-top .geo span {
    color: #154FA6;
    font-weight: 700;
    text-decoration: underline;
}

header #navigation .contacts {
    position: relative;
}

header #navigation .contacts .header-middle {
    display: flex;
    justify-content: space-between;
    position: relative;
    padding-left: 120px;
    background-color: #023076;
}

header #navigation .contacts .header-middle p {
    font-weight: 600;
    font-size: 24px;
    line-height: 22px;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 0px;
    padding: 14px;
}

header #navigation .contacts .header-middle p.phone,
header #navigation .contacts .header-middle p.email {
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

header #navigation .contacts .header-middle p img {
    margin-right: 10px;
}

header #navigation .topnav {
    position: relative;
}

header #navigation .topnav nav {
    position: relative;
    background-color: #aaaaaa;
    padding: 0;
}

header #navigation .topnav nav .navbar-brand {
    position: absolute;
    bottom: -5px;
    left: 0;
    padding: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    z-index: 10;
    background: #fff;
}

header #navigation .topnav nav .navbar-brand img {
    width: 100px;
    height: 100px;
}

header #navigation .topnav nav ul.navbar-nav {
    width: 100%;
    padding-left: 82px;
    justify-content: space-between;
}

header #navigation .topnav nav ul.navbar-nav .nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    flex-basis: 0;
    flex-grow: 1;
}

header #navigation .topnav nav ul.navbar-nav .nav-item:not(:last-child):after {
    content: '';
    display: block;
    width: 1px;
    height: 20px;
    background-color: #fff;
}

header #navigation .topnav nav ul.navbar-nav .nav-item .nav-link {
    width: 100%;
    text-align: center;
    color: #ffffff;
}

header #navigation .topnav nav ul.navbar-nav .nav-item .nav-link:hover {
    text-decoration: underline;
}

header #mobile-navigation {
    display: none;
}

header .header.container-fluid {
    position: relative;
    height: 550px;
}

header .header.container-fluid > div.blue-background {
    position: absolute;
    width: 51%;
    height: 90%;
    background: #023076;
    right: 0;
    z-index: 10;
}

header .header .search-form {
    position: absolute;
    z-index: 20;
    right: 15px;
    width: calc(58% - 15px);
    margin: 5px 0px;
    z-index: 100;
}

header .header .search-form form .input-group-text {
    background: transparent;
    border-left: none;
    border-radius: 0;
}

header .header .search-form form .input-group-text:hover {
    cursor: pointer;
}

header .header .search-form form input {
    border: 0.794341px solid #C4C4C4;
    border-radius: 0px;
    border-right: none;
}

header .header .search-form form input:focus,
header .header .search-form form input:active {
    outline: none !important;
    box-shadow: none;
}

header .header .container div.header-image {
    padding-right: 50px;
}

header .header .container div.image {
    width: 100%;
    height: 550px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 15px 50%;
}

header .header .container .row > div:last-child {
    position: relative;
    display: flex;
    align-items: center;
    z-index: 20;
}

header .header .container .row > div:last-child > div {
    position: absolute;
    width: 645px;
    right: 15px;
    top: 9%;
    border: solid 15px #fff;
    padding: 20px 10px 20px 100px;
    margin-bottom: 40px;
}

header .header .container .row > div:last-child > div p {
    font-size: 32px;
    color: #fff;
}

header .header .container .row > div:last-child > div p span {
    font-weight: bold;
}

header .header .container .row > div:last-child > div form input {
    width: 70%;
    height: 38px;
}

header .header .container .row > div:last-child > div form input::placeholder {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 300;
    font-size: 13px;
    color: #786E6E;
}

header .header-bottom {
    background-color: #023076;
}

header .header-bottom .advantages {
    display: flex;
}

header .header-bottom .advantages > div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    padding: 20px 35px;
}

header .header-bottom .advantages > div:not(:last-child):after {
    content: '';
    display: block;
    width: 2px;
    height: 38px;
    background: #fff;
    position: absolute;
    right: 0
}

header .header-bottom .advantages > div img {
    margin-right: 15px;
}

header .header-bottom .advantages > div p {
    margin-bottom: 0;
    font-weight: bold;
    font-size: 18px;
    line-height: 120%;
    color: #FFFFFF;
}

header .header.contacts {
    position: relative;
}

header .header.contacts .background-blue {
    position: absolute;
    left: 0;
    top: 10%;
    width: 60%;
    background: #023076;
    height: 80%;
    z-index: 10;
}

header .header.contacts .photo {
    width: 50%;
    height: 100%;
    position: absolute;
    right: 0;
    background-repeat: no-repeat;
    background-size:cover;
}

header .header .container  {
    height: 100%;
    position: relative;
}

header .header .container .wrapper {
    position: absolute;
    width: 645px;
    left: 5%;
    top: 17%;
    border: solid 15px #fff;
    padding: 30px;
    margin-bottom: 0px;
    z-index:20;
}

header .header .container .wrapper p {
    font-weight: 400;
    font-size: 28px;
    line-height: 120%;
    color: #FFFFFF;
    margin-bottom: 25px;
}

header .header .container .wrapper p span {
    font-weight: 900;
    font-size: 28px;
    line-height: 120%;
    color: #FFFFFF;
}

header .header .container .wrapper form input {
    width: 300px;
    height: 33px;
}

header .header .container .wrapper form input::placeholder {
    font-weight: 300;
    font-size: 11.7396px;
    color: #786E6E;
}

.breadcrumbs {
    font-size: 14px;
    line-height: 36px;
    color: #000000;
}

.contacts-pagetitle h1 {
    margin-bottom: 30px;
}

#s01 .about-company {
    height: 100%;
    background: #F2F2F2;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 30px;
}

#s01 .about-company h2 {
    text-decoration: underline;
    color: #000000;
}

#s01 .about-company img {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    width: 100%;
    margin: 20px 0;
}

#s01 .calc {
    height: 100%;
    background: #F2F2F2;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

#s01 .calc-header {
    background: #023076;

}

#s01 .calc-header h2 {
    color: #FFFFFF;
    width: 80%;
    padding: 20px 40px;
}

#s01 .form {
    padding: 25px 40px;
}

#s01 .form p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #415A6B;
    margin-bottom: 35px;
}

#s01 .form .form-group {
    margin-bottom: 34px;
}

#s01 .form input {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #786E6E;
    height: 45px;
}

#s01 .form select {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #786E6E;
    height: 45px;
}

#s01 .form textarea {
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 150%;
    color: #786E6E;
    height: 395px;
}

#s02 {
    margin: 100px 0px;
}


#s02 .our-works {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    height: 895px;
}

#s02 .our-works .title {
    background: #023076;
}

#s02 .our-works .title h2 {
    /* font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF; */
    color: #FFFFFF;
    padding: 20px 25px;
}

#s02 .cards {
    overflow-y: scroll;
    height: 720px;
}

#s02 .our-work-card {
    padding: 20px 20px 30px;
    background: #EFEFEF;
    border-radius: 10px;
    margin: 20px 20px 30px 20px;
}

#s02 .our-work-card img {
    background: url(Living-in-a-modern-style-11.jpg);
    border-radius: 10px;
    width: 100%;
    height: 172px;
    padding-bottom: 30px;
}

#s02 .our-work-card .content p.work-title {
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #000000;
}

#s02 .our-work-card .content p.address {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #333333;
}

#s02 .info {
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
    padding: 30px 30px 20px 15px;
    height: 895px;
}

#s02 .faq .card {
    border: none;
}

#s02 .faq .card-header {
    background: #EFEFEF;
    border-radius: 10px;
    border-bottom: none;
    padding: 12px 20px;
    margin-bottom: 3px;
}

#s02 .faq .card-header h3 {
    display: flex;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #333333;
    margin-bottom: 0px;
}

#s02 .faq .card-header h3:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    font-size: 30px;
    color: #fff;
    display: inline-block;
    background: #FF9100;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    min-width: 50px;
    text-align: center;
    padding: 0;
    margin: 0 25px 0 0;
    line-height: 50px;
}

#s02 .faq .card-header h3[aria-expanded='false']:before {
    content: '\f067';
}

#s02 .faq .card-header h3[aria-expanded='true']:before {
    content: '\f00d';
}

#s02 .faq .card-body p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #4E4E4E;
    margin-bottom: 0;
}

#s02 .info button.orange {
    padding-left: 100px;
    padding-right: 100px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
}

#s03 {
    margin-top: 80px;
    margin-bottom: 80px;
}
/*
#s03 .container div.wrapper {
    display: flex;
    justify-content: center;
} */
#s03 .specialists {
    display: flex;
}

#s03 .about-specialists {
    background: #FFFFFF;
    border: 15px solid #C4C4C4;
    box-sizing: border-box;
    width: 775px;
    min-width: 775px;
    padding: 40px 190px 80px 35px;
    /* margin-left: auto;
    margin-right: -130px; */
}

#s03 .about-specialists h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 32px;
    line-height: 120%;
    color: #333333;
    margin: 0px 0px 25px 30px;
    text-decoration: none;
}

#s03 .about-specialists p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #4E4E4E;
}

#s03 .carousel {
    width: 520px;
    margin-left: -180px;
}

#s03 .specialist {
    background: #023076;
    padding: 10px;
    margin-top: 30px;
}

#s03 .specialist .fio {
    display: flex;
    margin-bottom: 10px;
    margin-top: 10px;
    align-items: center;
}

#s03 .specialist .fio img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid white;
    margin: 0px 0 5px 10px;
}

#s03 .specialist .fio p {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
    margin-left: 30px;
    margin-bottom: 0;
}

#s03 .specialist .fio p:first-child {
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 8px;
}

#s03 .specialist .description {
    /* width: 100%; */
    background: #FFFFFF;
    border: 3px solid #EFEFEF;
    box-sizing: border-box;
}

#s03 .specialist .description ul {
    list-style: none;
    margin: 20px 5px 20px;
    padding-left: 25px;
}

#s03 .specialist .description li {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    color: #4E4E4E;
    margin-bottom: 7px;
}

#s03 .specialist .description li:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #F4B74A;
    margin-right: 12px;
    display: inline-block;
    margin-left: -1.5em;
}

#s04 .container .row > div[class*='col-'] {
    height: 863px;
    display: flex;
    flex-direction: column;
}

#s04 .equipments,
#s04 .chemical,
#s04 .certificates {
    height: 100%;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;
}

#s04 .block-title {
    background: #B9BABC;
}

#s04 .block-title h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 12px 25px 15px;
}

#s04 .cards {
    height: calc(100% - 100px);
    overflow-y: scroll;
}

#s04 .cards p {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #4E4E4E;
    padding: 20px 25px 0px;
}

#s04 .cards .card {
    position: relative;
    background: #FFFFFF;
    border: 1px solid #023076;
    box-sizing: border-box;
    margin: 20px 25px;
    padding: 7px 5px;
    height: 285px;
}

#s04 .cards .card .overlay-text {
    position: absolute;
    display: none;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgb(2, 48, 118, .95);;
}

#s04 .cards .card .overlay-text p {
    position: relative;
    background: transparent;
    border: none;
}

#s04 .cards .card .image {
    display: flex;
    align-items: center;
    height: 100%
}

#s04 .cards .card img {
    width: 90%;
}

#s04 .cards .card p {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    background: #023076;
    border: 0.5px solid #000000;
    box-sizing: border-box;
    padding: 15px 5px;
    text-align: center;
    margin-bottom: 0px;
    color: #fff;
}

#s04 .chemical .cards .card {
    background: #FFFFFF;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
    margin: 20px 25px;
}

#s04 .certificates .block-title {
    background: #023076;
}

#s04 .certificates .certs {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    flex-basis: 0;
    justify-content: center;
    align-items: flex-end;
    padding-top: 70px;
}

#s05 .title {
    background: #023076;
    margin-top: 80px;
}

#s05 h2 {
    /* font-style: normal;
    font-weight: 900;
    font-size: 30px;
    line-height: 120%; */
    text-align: center;
    color: #FFFFFF;
    padding: 15px 0px;
}

#s05 ul.categories {
    margin: 25px 0px;
}

#s05 ul.categories li {
    display: flex;
    align-items: center;
}

#s05 ul.categories li a {
    background: transparent;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    display: flex;
    align-items: center;
    color: #000000 !important;
    border-bottom: 1px #C4C4C4 solid;
    border-radius: 0px;
    padding-left: 30px;
    padding-right: 30px;
}


#s05 ul.categories li:first-child a {
    padding-left: 0px;
}

#s05 ul.categories li:not(:last-child):after {
    content: "";
    width: 2px;
    height: 50%;
    display: block;
    background: #000;
}

#s05 ul.categories li a.active {
    border-bottom: solid 4px #FF9100 !important;
    background: transparent !important;
    color: #000;
}

#s05 ul.list-pests {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px;
}

#s05 ul.list-pests li {
    /* width: 16%;
    margin: 10px 10px 25px 0px; */
}

#s05 ul.list-pests li a {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #000000;
    border: 1px solid #DADDE0;
    box-sizing: border-box;
    background: #fff;
    border-radius: 0px;
}

#s05 ul.list-pests li a.active {
    background: #DEEBEF;
}

#s05 .tab-content p {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #928C89;
}

#s05 .tab-content .table-price {
    width: 100%;
}

#s05 .tab-content .table-price thead tr {
    background: #DEEBEF !important;
}

#s05 .tab-content .table-price thead h3 {
    font-style: normal;
    font-weight: 900;
    font-size: 22px;
    line-height: 120%;
    text-align: center;
    color: #154FA6;
}

#s05 .tab-content .table-price tr {
    height: 88px;
    background: #DEEBEF;
}

#s05 .tab-content .table-price tr:nth-child(2n+1) {
    background: #F7F7F7;
}

#s05 .tab-content .table-price tbody td {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: #4E4E4E;
    text-align: center;
}

#s05 .tab-content .table-price .btn-blue {
    font-family: 'Gotham Pro';
    font-style: normal;
    font-weight: 600;
    font-size: 13.7915px;
    line-height: 13px;
    text-align: center;
    color: #FFFFFF;
    background: #154FA6;
    border-radius: 0px;
    padding: 12px 45px;
}

#s05 .show-more {
    background: #023076;
    box-shadow: 0px 2.54576px 2.54576px rgba(0, 0, 0, 0.25);
    border-radius: 3.1822px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
    display: block;
    margin: auto;
    margin-top: 20px;
    padding: 15px 95px;
}

#s06 {
    margin-top: 80px;
    margin-bottom: 80px;
}

#s06 .container-fluid {
    position: relative;
    height: 710px;
}

#s06 .container-fluid .background-blue {
    position: absolute;
    left: 0;
    background-color: #023076;
    width: 67%;
    height: 710px;
}

#s06 h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 120%;
    color: #FFFCFC;
    padding-top: 85px;

}

#s06 .schema {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 45px;
}

#s06 .schema .step-cnt {

}

#s06 .schema .step-cnt p {
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 150%;
    color: #ABD3F3;
    padding-left: 20px;
    margin-bottom: 0px;
}

#s06 .schema .body {
    margin-top: -25px;
    background: #023076;
    z-index: 14;
    position: relative;
}

#s06 .schema .body h5 {
    font-style: normal;
    font-weight: bold;
    font-size: 16.8046px;
    line-height: 21px;
    color: #FFFFFF;
}

#s06 .schema .body p {
    font-style: normal;
    font-weight: normal;
    font-size: 11.7632px;
    line-height: 150%;
    color: #FFFFFF;
}

#s06 .container .row > div:last-child {
    justify-content: center;
}

#s06 .wrapper {
    border: 15px solid #C4C4C4;
    padding: 40px;
    margin-left: 15px;
}

#s06 .form {
    padding: 24px 40px;
    background: #FFFFFF;
    box-shadow: 0px 3.2px 3.2px rgba(0, 0, 0, 0.25);
}

#s06 .form h3 {
    font-style: normal;
    font-weight: bold;
    font-size: 25.6px;
    line-height: 150%;
    text-align: center;
    text-transform: uppercase;
    color: #FF8B01;
    margin-bottom: 0px;
}

#s06 .form p.subtitle {
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #333333;
}

#s06 .form p.text-before {
    font-style: normal;
    font-weight: normal;
    font-size: 11.2px;
    line-height: 150%;
    text-align: center;
    color: #4E4E4E;
}

#s06 .form input {
    height: 54px;
}

#s06 .form input::placeholder {
    font-size: 13px;
    color: #878787;
}

#s06 .form button.orange {
    display: block;
    margin: auto;
}

#s06 .form p.text-after {
    font-size: 9px;
    margin-bottom: 0px;
    text-align: center;
}

#s07 .reviews {
    padding: 15px 15px 30px 50px;
    background: #FFFFFF;
    border: 1px solid #C4C4C4;
    height: 940px;
    overflow-y: scroll;
    direction: rtl;
}

#s07 .reviews h2 {
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    text-decoration-line: underline;
    color: #000000;
}

#s07 .reviews .cards {
    margin-top: 40px;
}

#s07 .reviews .card {
    border: 3px solid #EFEFEF;
    border-radius: 10px;
    padding: 15px;
    direction: ltr;
}

#s07 .reviews .card img {
    width: 120px;
    height: 150px;
}

#s07 .reviews .card-body {
    padding: 0 1.25rem;
}

#s07 .reviews .card-body .card-title p {
    font-weight: bold;
    font-size: 16px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #333333;
    margin-bottom: 0;
}

#s07 .reviews .card-body p.card-text {
    font-size: 12px;
    line-height: 150%;
    color: #4E4E4E;
    margin-bottom: 0;
}


#s07 .clients {
    border: 1px solid #C4C4C4;
    height: 940px;
}

#s07 .clients .block-title {
    background: #023076;
}

#s07 .clients .block-title h3 {
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    color: #FFFFFF;
    padding: 12px 25px 15px;
}

#s07 .clients .client-list {
    padding-top: 70px;
    height: calc(100% - 70px);
    overflow-y: scroll;
}

#s07 .clients .client-list img {
    display: block;
    margin: auto;
    padding-bottom: 50px;
}


#s08 {
    /* background-color: #023076; */
    background-color: #134899;
    margin: 145px 0px 0px;
}

#s08 .d-flex {
    align-items: center;
    justify-content: space-between;
}

#s08 .image {
    display: block;
    min-width: 230px;
    width: 230px;
    height: 230px;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: 0 100%;
    margin: 3px 20px 3px 0px;
    position: relative;
}

#s08 .image:before {
    content: '';
    width: 70px;
    height: 70px;
    display: block;
    background-image: url('../images/s08-phone-icon.png');
    background-position: top;
    background-repeat: no-repeat;
    top: 10%;
    left: -10%;
    position: absolute;
}

#s08 .form {
    width: 100%;
}

#s08 .form p.title {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 900;
    font-size: 23px;
    line-height: 120%;
    color: #ffffff;
}

#s08 form input {
    background: #FBFBFB;
    border: 1px solid #DEDEDE;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin-right: 24px;
    font-size: 24px;
}

#s08 form input::placeholder {
    font-size: 24px;
    color: #878787;
}

#s08 form button {
    background: #399400;
    width: 100%;
    height: 60px;
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 17px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

#s08 .form p.prompt {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 150%;
    color: #ffffff;
    margin: 16px 0 0;
    padding-left: 9px;
}

#address .container {
    padding-left: 80px;
}

#address .container address > div {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

#address .container address > div img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

#address .container address > div p {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    margin: 0;
}

#address .container address > div p > span {
    color: #FF9100;
    font-weight: bold;
}

#map {
    margin: 85px 0;
}

#map h3 {
    font-size: 24px;
    font-weight: 700;
    color: #FF9100;
    text-transform: uppercase;
    margin-left: 85px;
}

#requisites .container {
    padding-left: 80px;
}

#requisites h3 {
    font-size: 24px;
    font-weight: 700;
    color: #FF9100;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#requisites .container div p {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 25px;
    margin: 0 0 30px 0;
}

#requisites .container div p > span {
    color: #000;
    font-weight: bold;
}

#feedback {
    margin: 85px 0 170px;
    background: #023076;
}

#feedback .feedback {
    padding: 45px;
    border-radius: 5px;
}

#feedback h3 {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    margin-bottom: 50px;
}

#feedback .form {
    width: 75%;
    margin: auto;
}

#feedback form input[type='text'],
#feedback form input[type='tel'] {
    height: 52px;
    border: 1px solid #DEDEDE;
    border-radius: 0px;
}

#feedback form textarea {
    height: 240px;
    border: 1px solid #DEDEDE;
    border-radius: 0px;
}

#feedback form button {
    display: block;
    width: 300px;
    height: 55px;
    margin: 30px auto 0;
    border: 1px solid #DEDEDE;
    border-radius: 0px;
}

.ymap-container {
    position: relative;
    margin: 3em 0 2em 0;
    overflow: hidden;
    cursor: pointer;
    background: url('../images/ymap.png') #ffffff no-repeat;
    background-position: center center;
    background-size: cover;
    /* box-shadow: 0 0 2em  0 rgba(0,0,0,.2); */
}

/* Блок, в котором появится Яндекс.Карта */
#map-yandex {
    position: relative;
    z-index: 7;
    width: 100%;
    height: 400px;
    cursor: pointer;
    background-color: transparent;
}

.loader {
    position: absolute;
    z-index: 15;
    top: -100%;
    left: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    overflow: hidden;
    color: #000000;
    transition: opacity .7s ease;
    opacity: 0;
    background-color: rgba(0,0,0,.55);
}

.loader:after,
.loader:before {
    box-sizing: border-box;
}

.loader.is-active {
    top: 0;
    opacity: 1;
    z-index: 5;
}

.loader-default:after {
    position: absolute;
    top: calc(50% - 24px);
    left: calc(50% - 24px);
    width: 48px;
    height: 48px;
    content: '';
    animation: rotation 1s linear infinite;
    border: solid 8px #ffffff;
    border-left-color: transparent;
    border-radius: 50%;
}

@keyframes rotation {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(359deg);
    }
}

@keyframes blink {
    from {
        opacity: .5;
    }
    to {
        opacity: 1;
    }
}

#sales {
    margin-bottom: 100px
}

#sales .sales {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
}

#sales h1 {
    font-weight: 900;
    font-size: 30px;
    line-height: 120%;
    color: #023076;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#sales .sales .card {
    padding: 10px;
    position: relative;
}

#sales .sales .card .marker {
    position: absolute;
    width: 115px;
    display: block;
    top: 30px;
    left: 0;
    background: #C81E1E;
}

#sales .sales .card .marker p {
    font-weight: 900;
    font-size: 24px;
    line-height: 100%;
    color: #FFFFFF;
    margin: 0px 0 5px;
    text-align: center;
}

#sales .sales .card img {
    width: 89%;
    height: 130px;
    margin-left: auto;
}

#sales .sales .card-body {
    padding: 1rem 0px;
}

#sales .sales .card-body h5 {
    font-weight: bold;
    font-size: 18px;
    line-height: 11px;
    text-align: center;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #154FA6;
    padding: 7px 0 15px;
}

#sales .sales .card-body table {
    width: 100%;
}

#sales .sales .card-body table tr:nth-child(2n+1) {
    background-color: #EAF4FF;
}

#sales .sales .card-body table tr td {
    font-size: 12px;
    line-height: 11px;
    text-transform: lowercase;
    color: #023076;
    border-right: 1px solid #DBD8D8;
    padding: 10px;
}

#sales .sales .card-body .price {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

#sales .sales .card-body .price p {
    font-size: 30px;
    line-height: 11px;
    text-align: center;
    text-transform: uppercase;
}

#sales .sales .card-body .price p span {
    font-size: 14px;
}

#sales .sales .card-body .price p.old {
    font-weight: normal;
    text-decoration-line: line-through;
    color: #4E4E4E;
}

#sales .sales .card-body .price p.new {
    font-weight: bold;
    color: #C81E1E;
}

#sales .sales .card-footer {
    border: none;
    background: transparent;
    padding-top: 0;
}

#sales .sales .card-footer button {
    border-radius: 0px;
    display: block;
    margin: auto;
    padding: 10px 50px;
}

#news h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 150%;
    color: #023076;
}

#news .list-news {
    border: 2px solid #C4C4C4;
}

#news .list-news .title {
    background-color: #023076;
    margin-left: -1px;
    margin-right: -1px;
    padding: 20px 30px;
}

#news .list-news .title h3 {
    font-weight: 900;
    font-size: 24px;
    line-height: 120%;
    color: #FFFFFF;
}

#news .list-news .last-news {
    padding: 25px 10px;
}

#news .list-news .last-news a.news-card {
    display: block;
    padding: 25px;
    margin-bottom: 25px;
    font-weight: bold;
    font-size: 14px;
    line-height: 150%;
    display: flex;
    align-items: center;
    color: #333333;
    background-color: #EFEFEF;
}

#news .list-news .last-news a.news-card.active {
    background-color: #023076;
    color: #fff;
}

#news .content {
    padding-left: 10px;
}

#news .content h3 {
    font-weight: bold;
    font-size: 20px;
    line-height: 35px;
    color: #023076;
}

#news .content table tr {
    height: 65px;
}

#news .content table thead tr {
    background-color: #D9F1FF;
}

#news .content table tbody tr:nth-child(2n) {
    background-color: #f0f0f0;
}

#news .content table thead td {
    font-weight: bold;
    font-size: 20px;
    line-height: 100%;
    color: #023076;
}

#news .content table td {
    text-align: center;
    color: #3A7CA5;
}

#news .content ul {
    list-style: none;
}

#news .content ul li {
    display: flex;
    align-items: center;
}

#news .content ul li:before {
    content: '';
    width: 8px;
    height: 8px;
    border-radius: 8px;
    background-color: #F4B74A;
    margin-right: 7px;
    /* margin-right: 5px;
    display: inline-block;
    margin-left: 0px; */
}


#modalOrder .modal-dialog {
    max-width: 700px;
    margin: 100px auto;
    box-shadow: 0px 0px 30px aliceblue;
    border-radius: 0px;
}

#modalOrder .modal-content {
    /* background-image: url('../images/form-bg.png'); */
    background: #023076;
    border: 1px solid #fff;
    border-radius: 0px;
    background-position: -200px 11%;
    padding: 30px;
}

#modalOrder .modal-content .modal-header h5 {
    color: #fff;
    font-size: 30px;
}

#modalOrder .modal-content .modal-header img {
    margin-left: 15px;
}

#modalOrder .modal-body form {
    margin: 0px 30px;
}

#modalOrder .modal-body form input {
    border-radius: 0px;
    height: 50px;

}

#modalOrder .modal-footer {
    /* justify-content: center; */
}

#modalOrder .modal-footer button {
    margin: 0 30px;
}

#modalPolicy .modal-dialog {
    max-width: 900px;
}

#modalPolicy .modal-dialog .modal-content {
    padding: 20px 15px;
}

.modal-backdrop.show {
    opacity: 0.75;
}

footer .footer {
    background-color: #023076;
    min-height: 430px;
}

footer .footer > .container {
    padding-top: 60px;
}

footer .footer h3 {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 150%;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-bottom: 40px;
}

footer .footer ul {
    list-style: none;
    padding: 0px;
}

footer .footer ul li {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
    padding-bottom: 24px;
}

footer .footer address {
    color: #fff;
}

footer .footer address > div {
    display: flex;
    margin-bottom: 30px;
}

footer .footer address i {
    margin-right: 10px;
    font-size: 14px;
    line-height: 150%;
}

footer .footer address a {
    color: #fff;
}

footer .footer address p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 0px;
}

footer .footer address .phones p a,
footer .footer address .e-mail p a {
    font-weight: bold;
}

footer .footer address .phones p.work-time {
    font-size: 12px;
    line-height: 15px;
    opacity: 0.5;
}

footer .footer .footer-logo img {
    width: 103px;
    height: 103px;
}

footer .footer .requisites {
    margin-top: 10px;
}

footer .footer .requisites p {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 150%;
    margin: 0px;
    color: #FFFFFF;
}

footer .footer .footer-soc-icons {
    margin-top: 55px;
}

footer .footer .footer-soc-icons a {
    margin-right: 30px;
}

footer .footer .copyright {
    padding: 20px 0 0px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

footer .footer .copyright .row {
    align-items: center;
}

footer .footer .copyright .row > div:last-child {
    text-align: right;
    padding-right: 50px;
}

footer .footer .copyright p {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
    margin: 0px;
}

footer .footer .copyright a {
    font-family: 'HelveticaNeueCyr';
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
    color: #fff;
}

footer .footer.tablet {
    display: none;
}
