@media(max-width: 1600px) {
    footer .footer {
        background-size: auto;
        background-position: 50% 100%;
    }
}

@media(max-width: 1536px) {

}

@media(max-width: 1440px) {

}

@media(max-width: 1366px) {

}

@media(max-width: 1280px) {
    footer .footer {
        background-position: 0% 100%;
    }
}

@media(max-width:1200px) {
    #s08 {
        padding: 50px 0;
    }

    #s08 .d-flex {
        flex-direction: column;
    }

    #s08 .image {
        margin-bottom: 15px;
    }

    #s08 .form {
        width: 75%;
    }

    #s08 .form .form-row {
        flex-direction: column;
    }

    #s08 .form input {
        margin-bottom: 15px;
    }

    #s08 .form button {
        display: block;
        margin: 15px auto 0px;
    }
}

@media(max-width:1024px) {
    h2 {
        font-size: 19px;
    }

    button.orange {
        font-size: 12px;
        padding: 10px 24px;
    }

    header .container-fluid {
        padding: 0;
    }

    header .container {
        max-width: 100%;
    }

    header #navigation .topnav nav .navbar-brand img {
        width: 65px;
        height: 65px;
    }

    header #navigation .contacts .header-middle {
        padding-left: 100px;
    }

    header #navigation .contacts .header-middle p {
        font-size: 14.6px;
        font-weight: 600;
        padding: 10px;
    }

    header #navigation .contacts .header-middle p.phone, header #navigation .contacts .header-middle p.email {
        font-size: 11px;
    }

    header #navigation .topnav nav ul.navbar-nav .nav-item .nav-link {
        font-size: 11px;
    }

    header .header.container-fluid {
        height: 330px;
    }

    header .header .container div.header-image {
        padding-right: 25px;
    }

    header .header .container div.image {
        height: 330px;
    }

    header .header .container .row > div:last-child > div {
        width: 135%;
        border: solid 9px #fff;
        padding: 10px 10px 0px 90px;
    }

    header .header .container .row > div:last-child > div p {
        font-size: 19px;
        line-height: 120%;
    }

    header .header .container .row > div:last-child > div form input::placeholder {
        font-size: 10px;
    }

    header .header .container .row > div:last-child > div form button {
        font-size: 10px;
    }

    header .header-bottom .advantages > div {
        padding: 10px 20px;
    }

    header .header-bottom .advantages > div:not(:last-child)::after {
        height: 25px;
    }

    header .header-bottom .advantages > div img {
        width: 25px;
        height: 25px;
    }

    header .header-bottom .advantages > div p {
        font-size: 11px;
    }

    #s01 .container {
        max-width: 100%;
    }

    #s01 .about-company {
        padding: 20px;
    }

    #s01 .about-company p {
        font-size: 12px;
    }

    #s01 .form p {
        font-size: 12px;
    }

    #s01 .form .form-group {
        margin-bottom: 20px;
    }

    #s01 .form input::placeholder {
        font-size: 12px;
    }

    #s01 .form select {
        font-size: 12px;
    }

    #s01 .form textarea {
        height: 224px;
    }

    #s01 .form textarea::placeholder {
        font-size: 12px;
    }

    #s02 .our-works {
        height: 745px;
    }

    #s02 .cards {
        height: 660px;
    }

    #s02 .our-work-card img {
        height: 160px;
    }

    #s02 .our-work-card .content p.work-title {
        font-size: 18px;
        line-height: 120%;
        margin-bottom: 10px;
    }

    #s02 .our-work-card .content p.address {
        font-size: 12px;
    }

    #s02 .info {
        height: 745px;
    }

    #s02 .faq .card-header h3 {
        font-size: 15px;
        line-height: 120%;
    }

    #s02 .faq .card-header h3::before {
        min-width: 35px;
        width: 35px;
        height: 35px;
        font-size: 25px;
        line-height: 35px;
        margin: 0 15px 0 0;
    }

    #s02 .faq .card-body p {
        font-size: 12px;
    }

    #s03 .about-specialists {
        min-width: 1px;
        width: 65%;
        padding: 40px 150px 80px 35px;
    }

    #s03 .about-specialists h2 {
        font-size: 24px;
    }

    #s03 .about-specialists p {
        font-size: 12px;
    }

    #s03 .carousel {
        width: 475px;
        margin-left: -150px;
    }

    #s03 .specialist .fio img {
        width: 100px;
        height: 100px;
    }

    #s03 .specialist .fio p:first-child {
        font-size: 18px;
    }

    #s03 .specialist .fio p {
        font-size: 14px;
    }

    #s03 .specialist .description li {
        font-size: 12px;
    }

    #s03 .specialist .description li::before {
        margin-right: 7px;
    }

    #s03 .owl-dots {
        top: 12%;
    }

    #s04 .block-title h3 {
        font-style: normal;
        font-weight: 900;
        font-size: 19px;
        line-height: 120%;
        color: #FFFFFF;
        padding: 12px 25px 15px;
    }

    #s04 .cards {
        height: calc(100% - 85px);
    }

    #s04 .certificates .certs {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        padding: 70px 10px 0;
    }

    #s04 .certificates .certs a img {
        width: 100%;
    }

    #s04 .container .row > div[class*="col-"] {
        height: 770px;
    }

    #s05 ul.categories li a {
        font-size: 15px;
        line-height: 20px
    }

    #s05 ul.categories li a.active {
        border-bottom: solid 3px #FF9100 !important;
    }

    #s05 ul.list-pests li a {
        font-size: 11px;
    }

    #s05 .tab-content p {
        font-size: 11px;
    }

    #s05 .tab-content .table-price {
        border-bottom: solid 2px #FF9100;
    }

    #s05 .tab-content .table-price tr {
        height: 53px;
    }

    #s05 .tab-content .table-price tbody tr:nth-of-type(n+5) {
        display: none;
    }

    #s05 .tab-content .table-price tbody tr.open:nth-of-type(n+5) {
        display: table-row;
    }

    #s05 .tab-content .table-price thead h3 {
        font-size: 14px;
        line-height: 120%;
    }

    #s05 .tab-content .table-price tbody td {
        font-size: 11px;
    }

    #s05 .tab-content .table-price tbody td.price {
        font-size: 13.8px;
    }

    #s05 .tab-content .table-price .btn-blue {
        font-size: 9px;
        line-height: 100%;
        padding: 8px 20px;
    }

    #s05 .show-more {
        font-size: 11px;
        padding: 10px 60px;
    }
}

@media(max-width: 800px) {
    button.orange {
        font-size: 12px;
        padding: 8px 20px;
    }
    header .header .container .row > div:last-child > div {
        width: 135%;
        border: solid 9px #fff;
        padding: 10px 10px 0px 75px;
    }

    #s01 .about-company p {
        font-size: 10px;
    }

    #s01 .form {
        padding: 25px;
    }

    #s01 .form p {
        font-size: 10px;
    }

    #s01 .form .form-group {
        margin-bottom: 20px;
    }

    #s01 .form input::placeholder {
        font-size: 10px;
    }

    #s01 .form select {
        font-size: 10px;
    }

    #s01 .form textarea {
        height: 152px;
    }

    #s01 .form textarea::placeholder {
        font-size: 10px;
    }

    #s02 {
        margin: 50px 0;
    }

    #s02 .container {
        max-width: 100%;
    }

    #s02 .our-works {
        height: 625px;
    }

    #s02 .cards {
        height: 550px;
    }

    #s02 .our-work-card {
        padding: 15px;
    }

    #s02 .our-work-card img {
        height: 120px;
        padding-bottom: 15px;
    }

    #s02 .info {
        height: 625px;
    }

    #s02 .faq .card-header h3 {
        font-size: 13px;
    }

    #s02 .faq .card-header h3::before {
        min-width: 30px;
        width: 30px;
        height: 30px;
        font-size: 20px;
        line-height: 30px;
        margin: 0 15px 0 0;
    }

    #s02 .faq .card-body p {
        font-size: 9px;
    }

    #s03 {
        margin-top: 0;
    }

    #s03 .container {
        max-width: 100%;
    }

    #s03 .about-specialists {
        padding: 40px 110px 50px 35px;
    }

    #s03 .about-specialists h2 {
        font-size: 20px;
    }

    #s03 .about-specialists p {
        font-size: 9px;
    }

    #s03 .carousel {
        width: 375px;
        margin-left: -105px;
    }

    #s03 .specialist .fio {
        margin-top: 0;
        margin-bottom: 0;
    }

    #s03 .specialist .fio img {
        width: 95px;
        height: 95px;
    }

    #s03 .specialist .fio p:first-child {
        font-size: 13px;
        line-height: 120%;
        margin-bottom: 0;
    }

    #s03 .specialist .fio p {
        font-size: 10px;
        margin-left: 15px;
    }

    #s03 .specialist .description li {
        font-size: 9px;
    }

    #s04 .container {
        max-width: 100%;
    }

    #s04 .container .row > div[class*="col-"] {
        height: 600px;
    }

    #s04 .container .row > div[class*="col-"]:nth-child(2) {
        padding-left: 0px;
        padding-right: 0px;
    }

    #s04 .cards p {
        font-size: 9px;
        padding: 5px 25px 0;
    }

    #s04 .cards .card {
        height: 210px;
        margin: 25px 15px;
    }

    #s04 .cards .card p {
        font-size: 9px;
        line-height: 120%;
        padding: 10px 5px;
    }

    #s04 .chemical .cards .card {
        margin: 25px 15px;
    }

    #s04 .chemical .cards .card p {
        padding: 5px;
    }

    #s04 .certificates .certs {
        padding: 62px 10px 0;
    }

    footer .footer {
        min-height: 300px;
    }

    footer .footer > .container {
        padding-top: 40px;
    }

    footer .footer h3 {
        font-size: 20px;
        margin-bottom: 25px;
    }

    footer .footer ul li {
        font-weight: bold;
        font-size: 12.558px;
        line-height: 16px;
        padding-bottom: 12px;
    }

    footer .footer address > div {
        display: flex;
        margin-bottom: 16px;
    }

    footer .footer address i {
        font-size: 9px;
    }

    footer .footer address p {
        font-size: 9px;
    }

    footer .footer address .phones p.work-time {
        font-size: 8px;
    }

    footer .footer .footer-logo img {
        width: 65px;
        height: 65px;
    }

    footer .footer .requisites p {
        font-size: 9px;
    }

    footer .footer .footer-soc-icons {
        margin-top: 30px;
    }

    footer .footer .footer-soc-icons a {
        margin-right: 18px;
    }

    footer .footer .footer-soc-icons a img {
        width: 20px;
        height: 20px;
    }

    footer .footer .copyright p {
        font-size: 9px;
    }

    footer .footer .copyright a {
        font-size: 9px;
    }
}

@media(max-width: 768px) {

}

@media(max-width: 600px) {
    h2 {
        font-size: 16px;
    }

    header #navigation {
        display: none;
    }

    header #mobile-navigation {
            display: block;
    }

    header #mobile-navigation .fa-bars {
        color: orange;
        font-size: 36px;
    }

    header #mobile-navigation .navbar-light .navbar-toggler {
        border: none;
    }

    header #mobile-navigation nav {
        background: #023076;
    }

    header #mobile-navigation nav .container {
        display: flex;
        flex-wrap: nowrap;
    }

    header #mobile-navigation nav .container > div.d-flex {
        align-items: center;
    }

    header #mobile-navigation nav .geo  {
        text-align: right;
    }

    header #mobile-navigation nav .geo i {
        color: #FF9100;
        font-size: 11px;
    }

    header #mobile-navigation nav .geo span {
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        text-decoration-line: underline;
        color: #FFFFFF;
        text-align: left;
    }

    header #mobile-navigation nav p.title-nav {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        width: 75%;
    }

    header #mobile-navigation nav .navbar-nav {
        text-align: right;
    }

    header #mobile-navigation nav .navbar-nav .nav-item {
        border-bottom: solid 1px rgba(255, 165, 0, 0.5);
    }

    header #mobile-navigation nav .navbar-nav .nav-item .nav-link {
        color: #fff;
        padding-right: 5px;
    }

    header .header.container-fluid > div.blue-background {
        width: 58%;
        height: 80%;
        top: 15%;
    }

    header .header .container div.header-image {
        padding: 0;
    }

    header .header .container div.header-image .image {
        background-position: 0 50%;
    }

    header .header .container .row > div:last-child > div {
        width: 370px;
        top: 21%;
        margin-bottom: 0;
        padding: 10px 10px 0px 50px;
    }

    header .header .container .row > div:last-child > div p {
        font-size: 16px;
    }

    header .header .container .row > div:last-child > div form input {
        width: 90%;
        height: 20px;
    }

    header .header .container .row > div:last-child > div form button {
        width: 90%;
        height: 34px;
        padding: 0 15px;
    }

    header .header-bottom .advantages {
        flex-wrap: wrap;
    }

    header .header-bottom .advantages > div {
        width: 50%;
        justify-content: flex-start;
    }

    header .header-bottom .advantages > div:nth-child(2n):after {
        display: none;
    }

    #s01 .container .row > div {
        margin-bottom: 40px;
    }

    #s01 .about-company,
    #s01 .calc {
        width: 80%;
        margin: auto;
    }

    #s01 .form input::placeholder {
        font-size: 12px;
    }

    #s01 .form select {
        font-size: 12px;
    }

    #s01 .form textarea::placeholder {
        font-size: 12px;
    }

    #s02 {
        margin: 10px 0;
    }

    #s02 .our-works {
        width: 80%;
        margin: 0 auto 30px;
    }

    #s02 .cards {
        padding: 0 12%;
    }

    #s02 .our-work-card img {
        height: 160px;
    }

    #s02 .info {
        width: 80%;
        margin: auto;
    }

    #s02 .faq .card-header h3 {
        font-size: 12.5px;
        align-items: flex-start;
    }

    #s02 .faq .card-header h3::before {
        min-width: 17px;
        width: 17px;
        height: 17px;
        font-size: 12px;
        line-height: 17px;
        margin: 0 10px 0 0;
    }

    #s02 .info {
        height: auto;
    }

    #s02 .info button.orange {
        margin: 20px auto;
    }

    #s03 {
        margin-top: 50px;
    }

    #s03 .specialists {
        flex-direction: column;
    }

    #s03 .about-specialists {
        width: 80%;
        margin: auto;
        padding: 40px;
    }

    #s03 .about-specialists h2 {
        text-align: center;
        margin: 0 auto 25px;
    }

    #s03 .carousel {
        width: 72%;
        margin: -15% auto 0;
    }

    #s04 .container {
        width: 80%;
    }

    #s04 .container .row > div[class*="col-"] {
        height: 665px;
        margin-bottom: 20px;
    }

    #s04 .container .row > div[class*="col-"]:nth-child(2) {
        padding-left: 15px;
        padding-right: 15px;
    }

    #s04 .cards {
        padding: 0 50px;
    }

    #s04 .cards p {
        font-size: 12px;
    }

    #s04 .cards .card {
        height: 240px;
    }

    #s04 .cards .card p {
        font-size: 12px;
    }

    #s04 .cards .card img {
        width: 100%;
        max-width: 170px;
        display: block;
        margin: auto;
        padding: 20px 0;
    }

    #s04 .certificates .certs {
        padding: 15px 90px;
    }

    #s05 .container {
        width: 80%;
    }

    #s05 .title {
        margin-top: 20px;
    }

    #s05 ul.categories li {
        width: 50%;
    }

    #s05 ul.categories li:nth-child(2n):after {
        display: none;
    }

    #s05 ul.categories li a {
        width: 100%;
        justify-content: center;
        border-bottom: none;
        padding: 10px 0px;
        margin: 0 20px;
    }

    #s05 ul.categories li a.active {
        justify-content: center;
    }

    #s05 ul.list-pests {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }

    #s08 .form {
        width: 100%;
    }

    #s08 .form input {
        width: 100%;
    }

    footer .footer {
        display: none;
    }

    footer .footer .copyright {
        display: none;
    }

    footer .footer.tablet {
        display: block;
    }

    footer .footer.tablet .logo {
        display: flex;
        align-items: center;
    }

    footer .footer.tablet .footer-logo img {
        width: 100px;
        height: 100px;
        margin-right: 10px;
    }

    footer .footer.tablet .logo p {
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 20px;
        color: #FFFFFF;
        margin-bottom: 0px;
    }

    footer .footer.tablet .footer-soc-icons {
        margin-top: 20px;
        margin-bottom: 30px;
    }

    footer .footer.tablet .footer-soc-icons a img {
        width: 35px;
        height: 35px;
    }

    footer .footer.tablet .requisites {
        margin-bottom: 20px;
    }

    footer .footer.tablet .requisites p {
        font-size: 14px;
    }

    footer .footer.tablet h3 {
        font-size: 25px;
        margin-bottom: 10px;
    }

    footer .footer.tablet ul li {
        font-size: 15px;
    }

    footer .footer.tablet address i {
        font-size: 16px;
    }

    footer .footer.tablet address p {
        font-size: 16px;
    }

    footer .footer.tablet address .phones p.work-time {
        font-size: 14px;
    }
}

@media(max-width: 425px) {
    header #mobile-navigation nav {
        background: #023076;
        padding-top: 0;
        padding-bottom: 5px;
    }

    header #mobile-navigation nav .container {
        display: flex;
        flex-wrap: nowrap;
    }

    header #mobile-navigation nav .geo  {
        text-align: right;
        padding-right: 20px;
    }

    header #mobile-navigation nav .geo i {
        color: #FF9100;
        font-size: 11px;
    }

    header #mobile-navigation nav .geo span {
        font-style: normal;
        font-weight: bold;
        font-size: 11px;
        text-decoration-line: underline;
        color: #FFFFFF;
        text-align: left;
    }

    header #mobile-navigation nav p.title-nav {
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        line-height: 120%;
        color: #FFFFFF;
        width: 75%;
    }

    header .header.container-fluid > div.blue-background {
        width: 58%;
        height: 80%;
        top: 15%;
    }

    header .header .container div.header-image {
        padding: 0;
    }

    header .header .container div.header-image .image {
        background-position: 0 50%;
    }

    header .header .container .row > div:last-child > div {
        width: 265px;
        top: 19%;
        margin-bottom: 0;
        padding: 10px 10px 0px 50px;
    }

    header .header .container .row > div:last-child > div p {
        font-size: 14px;
    }

    header .header .container .row > div:last-child > div form input {
        width: 90%;
        height: 20px;
    }

    header .header .container .row > div:last-child > div form button {
        width: 90%;
        height: 34px;
        padding: 0 15px;
    }

    header .header-bottom .advantages > div {
        padding-right: 15px;
    }

    header .header-bottom .advantages > div:nth-child(2n+1) {
        padding-left: 0px;
    }

    #s01 .about-company,
    #s01 .calc {
        width: 100%;
    }

    #s01 .calc-header h2 {
        padding: 15px 20px;
    }

    #s01 .form {
        padding: 15px 20px;
    }

    #s01 .form input {
        height: 28px;
    }

    #s01 .form select {
        height: 28px;
    }

    #s02 .our-works {
        width: 100%;
    }

    #s02 .cards {
        padding: 0 5%;
    }

    #s02 .our-work-card .content p.work-title {
        font-size: 16px;
    }

    #s02 .info {
        width: 100%;
        padding: 30px 15px;
    }

    #s03 .about-specialists {
        width: 100%;
    }

    #s03 .carousel {
        width: 85%;
        margin: -20% auto 0;
    }

    #s04 .container {
        width: 100%;
    }

    #s04 .certificates .certs {
        padding: 15px 65px;
    }

    #s05 .container {
        width: 100%;
    }

    #s05 .tab-content .table-price {
        border-bottom: none;
    }

    #s05 .show-more {
        margin-top: 0px;
        width: 100%;
    }

    #s08 .form p.title {
        font-size: 18px;
        text-align: center;
    }

    #s08 .form input {
        height: 55px;
    }

    #s08 .form input::placeholder {
        font-size: 18px;
    }

    #s08 .form p.prompt {
        font-size: 14px;
        text-align: center;
    }

    #s08 .form button {
        width: 100%;
        height: 55px;
        font-size: 16px;
    }
    footer .footer.tablet .logo {
        display: flex;
        align-items: center;
    }

    footer .footer.tablet .footer-logo img {
        width: 80px;
        height: 80px;
        margin-right: 10px;
    }

    footer .footer.tablet .logo p {
        font-style: normal;
        font-weight: 600;
        font-size: 15.1449px;
        line-height: 19px;
        color: #FFFFFF;
        margin-bottom: 0px;
    }

    footer .footer.tablet .footer-soc-icons {
        margin-top: 10px;
        margin-bottom: 30px;
    }

    footer .footer.tablet .footer-soc-icons a img {
        width: 25px;
        height: 25px;
    }

    footer .footer.tablet .requisites p {
        font-size: 11px;
    }
}

@media(max-width: 375px) {
    h2 {
        font-size: 15px;
    }

    button.orange {
        font-size: 9px;
    }

    header .header .search-form {
        width: calc(65% - 15px);
    }

    header .header.container-fluid > div.blue-background {
        width: 65%;
    }

    header #mobile-navigation nav p.title-nav {
        font-size: 13px;
    }

    header #mobile-navigation nav .navbar-nav .nav-item .nav-link {
        font-size: 14px;
        padding-top: 5px;
        padding-bottom: 5px;
    }

    header .header-bottom .advantages > div img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
    }

    header .header-bottom .advantages > div p {
        font-size: 10px;
    }

    header .header-bottom .advantages > div:nth-child(2n) {
        padding-right: 0px
    }

    #s01 .about-company p,
    #s01 .calc p {
        font-size: 9px;
    }

    #s03 .carousel {
        width: 90%;
    }

    #s03 .specialist .fio p {
        padding-right: 10px;
    }

    #s04 .cards {
        padding: 0 25px;
    }

    #s04 .certificates .certs {
        padding: 15px 35px;
    }

    #s05 ul.list-pests {
        grid-template-columns: repeat(3, 1fr);
    }

    #s05 .tab-content .table-price tbody td.price {
        font-size: 12px;
    }

    #s05 .tab-content .table-price .btn-blue {
        padding: 5px 10px;
    }

    #s08 .form p.title {
        font-size: 22px;
    }

    #s08 .form p.prompt {
        font-size: 16px;
    }

    footer .footer.tablet:before {
        top: -135px;
    }
}

@media(max-width: 320px) {
    header #mobile-navigation nav {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    header #mobile-navigation nav p.title-nav {
        font-size: 10px;
    }

    header #mobile-navigation nav .geo {
        padding-right: 10px;
    }

    header .header .search-form {
        width: calc(77% - 15px);
    }

    header .header .search-form form .input-group-text {
        font-size: 12px;
    }

    header .header.container-fluid > div.blue-background {
        width: 77%;
    }

    #s02 .cards {
        padding: 0;
    }

    #s03 .carousel {
        width: 100%;
        margin: 0 auto;
    }

    #s04 .cards {
        padding: 0 10px;
    }

    #s04 .certificates .certs {
        padding: 15px;
    }

    #s05 ul.categories li a {
        margin: 0 10px;
    }

    #s05 .tab-content .table-price thead th {
        padding: 10px;
    }

    #s05 .tab-content .table-price thead th h3 {
        margin-bottom: 0px;
    }

    #s05 .tab-content .table-price .btn-blue {
        padding: 5px;
    }

    #s08 .form p.title {
        font-size: 20px;
    }

    footer .footer.tablet:before {
        top: -120px;
    }
}
